@charset "UTF-8";

@import "dev-markguide-definitions";

@import "global/global-normalization";

@import "frame/markguide-page";
@import "frame/markguide-content";
@import "frame/markguide";
@import "frame/markguide-overline";
@import "frame/markguide-message-global";

@import "guideline/markguide-toc";
@import "guideline/markguide-landing";

@import "component/markguide-component-aside";
@import "component/markguide-info-digit";
@import "component/markguide-component-footer";
@import "component/markguide-info-list";
@import "component/markguide-component-structure";

@import "styleguide/markguide-copier";

@import "plugins/colors/all";
@import "plugins/icons/all";

@import "box-model";

@import "frame/l-markguide-container";
@import "frame/markguide-search";
@import "frame/markguide-aside-ctrl";
@import "frame/markguide-header";
@import "frame/markguide-logo";
@import "frame/markguide-aside";
@import "frame/markguide-nav";
@import "frame/markguide-footer-copyright";
@import "frame/markguide-loader";

/* TODO: Temp location, move to some file.scss */
.markguide-html {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid grey;

	&__item {
		margin-bottom: 20px;

		h2 {
			margin-bottom: 10px;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__item-heading {
		font-family: $font-sans-markguide;
	}
}

.markguide-markup {
	position: relative;
	outline: none !important;
	margin-bottom: 20px;

	&:focus {
		outline: none !important;
	}

	summary {
		border: 1px solid grey;
		cursor: pointer;
		padding-left: 10px;
		user-select: none;

		&:focus {
			outline: none !important;
		}
	}

	&__copy-button {
		appearance: none;
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 0;

		&:hover {
			text-decoration: underline;
		}
	}
}
