body.b-markguide-page {
	background: var(--color-mg-background);
	color: var(--color-mg-text);
	margin: 0;
	padding: 0;
}

//@import "variables/misc";

// Mixins
@import "mixins/clearfix";
@import "mixins/font";
@import "mixins/font-mono";
@import "mixins/color";

// Colors
@import "base/colors-default";
@import "base/colors-dark";
//@import "base/colors-alternative";

// Layouts
@import "layouts/l-markguide-container";
@import "layouts/l-markguide-aside";
@import "layouts/l-markguide-page";

// Blocks
@import "blocks/b-markguide-aside-ctrl";
@import "blocks/b-markguide-search";
@import "blocks/b-markguide-navigation";
@import "blocks/b-markguide-footer-copyright";
@import "blocks/b-markguide-footer-build-date";
@import "blocks/b-markguide-options-bar";
@import "blocks/b-markguide-overline";
@import "blocks/b-markguide-section";
@import "blocks/b-markguide-html";
@import "blocks/b-markguide-markup";
@import "blocks/b-markguide-toc";

// Default Plugins
@import "plugins/plugin-body";
@import "plugins/b-markguide-colors";
@import "plugins/b-markguide-icons";
@import "plugins/b-markguide-typography";

// Helpers
@import "helpers/box-model";

// Markdown
@import "markdown/markdown";

// Markdown
@import "prism/prism";
