body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

//@import "variables/misc";

@import "base/colors-default";
@import "base/colors-dark";
//@import "base/colors-alternative";

@import "mixins/clearfix";
@import "mixins/font";
@import "mixins/font-mono";

@import "layouts/l-markguide-container";
@import "layouts/l-markguide-aside";
@import "layouts/l-markguide-page";

// Sidebar-area components
@import "blocks/b-markguide-aside-ctrl";

// Search
@import "blocks/b-markguide-search";

// Navigation
@import "blocks/b-markguide-nav";

@import "blocks/b-markguide-footer-copyright";

@import "blocks/b-markguide-overline";

@import "blocks/b-markguide-section";

@import "blocks/b-markguide-html";
@import "blocks/b-markguide-markup";

@import "blocks/b-markguide-toc";

@import "blocks/b-markguide-copier";

@import "plugins/b-markguide-colors";
@import "plugins/b-markguide-icons";
@import "plugins/b-markguide-typography";

@import "helpers/box-model";

@import "markdown/markdown";
