*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~

.DS_Store
._*
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.metadata
*.tern-project
RemoteSystemsTempFiles
.vscode
.history

logs
*.log
*.swp
*.map
.grunt

node_modules
.nyc_output

.atlasrc.current.json

_example/atlas-static/*.html
_example/atlas-static/assets

icons/octicons/*
!icons/octicons/readme.txt


views/includes/partials/project-head.mustache
