/*md
# Palette

This is palette settings for the project.

*/

$color-black: hsl(0, 0%, 0%);
$color-green25: hsl(140, 100%, 25%);
$color-green50: rgb(90, 163, 93);
$color-grey1: rgba(51, 51, 51);
$color-grey30: hsl(204, 3%, 30%);
$color-white: hsl(0, 0%, 100%);
