{{> header}}

<div class="atlas-landing">
    <div class="atlas-landing__content">
        <div class="atlas-landing__aside">
            {{> toc}}
        </div>
        <main class="atlas-landing__main">
            <section>
                <!-- this is hacky, but we have sections in markdown, so we need to open and close it on wrapper -->
                {{{content.documentation}}}
            </section>
        </main>
    </div>
</div>

{{> footer}}
