.markguide-aside {
	all: initial;
	background-color: $markguide-aside-bg;
	bottom: 0;
	color: $markguide-color-text;
	display: flex;
	flex-direction: column;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;

	&__header {
		padding: $space-sm-markguide;
	}

	&__content {
		overflow-y: auto;
		-webkit-overscroll-behavior: contain;
		-ms-scroll-chaining: none;
		overscroll-behavior: contain; /* stylelint-disable-line */
	}

	&__footer {
		margin-top: auto;
		padding-top: $space-md-markguide;
		position: relative;

		&::after {
			background: linear-gradient(
				rgba($color-white-markguide, 0),
				$markguide-aside-bg
			);
			content: "";
			display: block;
			height: $space-md-markguide;
			left: 4px;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: -#{$space-md-markguide};
			z-index: 2;
		}
	}
}

// hide this elements when aside is hidden
.js-aside-panel-hidden {
	.markguide-aside__header,
	.markguide-aside__footer,
	.markguide-aside__content {
		display: none;
	}
}
