.markguide-overline {
	font-family: $font-sans-markguide;
	font-size: $scale-lg-markguide;
	line-height: $space-md-markguide;
	margin-bottom: -#{$space-md-markguide};
	padding-top: $space-md-markguide;
	text-transform: capitalize;

	svg {
		color: $color-blue-markguide;
		height: 24px;
		position: relative;
		top: 4px;
		vertical-align: baseline;
		width: 24px;
	}
}
