@use "sass:math";

.markguide {
	all: initial;
	color: $markguide-color-text;
	font-family: $font-sans-markguide;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;

	&-title {
		display: block;

		&_1,
		&_2,
		&_3 {
			margin-bottom: $space-md-markguide;
			margin-top: $space-lg-markguide;
		}

		&_1,
		&_2,
		&_3,
		&_4,
		&_5,
		&_6 {
			font-weight: bold;
			letter-spacing: -0.03em;
			margin-bottom: $space-md-markguide;
		}

		&_1 {
			font-size: $scale-xxl-markguide;
			font-weight: bold;
			letter-spacing: -0.04em;
			line-height: 44px;
			margin-top: $space-md-markguide;
			padding-top: 16px;
		}

		&_2 {
			font-size: $scale-xl-markguide;
			line-height: $space-lg-markguide;
		}

		&_3 {
			font-size: $scale-lg-markguide;
			line-height: $space-md-markguide;
		}

		&_4 {
			font-size: $scale-md-markguide;
			font-weight: bold;
			line-height: $space-md-markguide;
			text-transform: uppercase;
		}

		&_5 {
			font-size: $scale-sm-markguide;
			font-weight: bold;
			line-height: $space-md-markguide;
			text-transform: uppercase;
		}

		&_6 {
			font-size: $scale-sm-markguide;
			line-height: $space-md-markguide;
		}
	}

	&-p {
		display: block;
		margin: 0 0 $space-md-markguide;
		padding: 0;

		a {
			color: $color-blue-markguide;
			text-decoration: underline;
			word-break: break-word;
		}

		img {
			max-width: 100%;
		}
	}

	&-hr {
		border: none;
		border-top: 1px solid;
		color: $color-grey80-markguide;
		display: block;
		margin: $space-lg-markguide auto;
	}

	&-ol,
	&-ul {
		display: block;
		list-style: disc;
		margin-bottom: $space-md-markguide;
		margin-top: $space-md-markguide;
		padding-left: $space-md-markguide;

		li {
			margin: 0;
			padding: 0;
		}
	}

	&-ol {
		list-style: decimal;
	}

	&-table {
		border-collapse: collapse;
		display: table;
		margin-bottom: $space-md-markguide;

		th,
		td {
			padding: #{math.div($space-sm-markguide, 2)} $space-sm-markguide #{math.div(
					$space-sm-markguide,
					2
				)} 0;
		}

		th {
			border-bottom: 2px solid $markguide-color-divider;
			font-weight: bold;
		}
	}

	&-code {
		display: block;
		font-family: $font-mono-markguide;
		font-weight: 400;
		line-height: 1.5;
		position: relative;
		text-align: left;

		code {
			direction: ltr;
			//hyphens: none;
			overflow: auto;
			//tab-size: 4;
			text-align: left;
			white-space: pre-wrap;
			word-break: normal;
			word-spacing: normal;
			word-wrap: normal;
		}

		pre {
			background-color: lighten($color-grey95-markguide, 4%);
			border: 1px solid $color-grey95-markguide;
			border-radius: 3px;
			margin: 0 0 $space-md-markguide;
			overflow: auto;
			padding: $space-sm-markguide;

			code {
				background: transparent;
				border: none;
				border-radius: 0;
				padding: 0;
			}
		}

		&[class*="_bad"],
		&[class*="_good"] {
			&::after {
				display: block;
				font-size: 0.8em;
				font-weight: bold;
				line-height: $space-md-markguide;
				margin: -#{$space-md-markguide} 0 $space-md-markguide;
			}
		}

		&[class*="_bad"] {
			pre {
				border-color: lighten($color-red-markguide, 16%);
			}

			&::after {
				color: $color-red-markguide;
				content: "Don’t.";
			}
		}

		&[class*="_good"] {
			pre {
				border-color: lighten($color-green-markguide, 16%);
			}

			&::after {
				color: $color-green-markguide;
				content: "Do.";
			}
		}
	}

	code {
		background-color: lighten($color-grey90-markguide, 5%);
		border: 1px solid $color-grey90-markguide;
		border-radius: 5px;
		font-family: $font-mono-markguide;
		font-size: 0.85em;
		line-height: 1.2;
		padding: 0.1em 0.3em;
	}
}

.markguide-title__text,
.markguide-p,
.markguide-ul,
.markguide-ol,
.markguide-code {
	color: $markguide-color-text; // revert text to darkgrey for all clients that have alterations
	// max-width: 800px;
}

// Article Headline
.markguide-content__inner {
	.markguide-title_1 {
		+ .markguide-p {
			font-size: $scale-lg-markguide;
			line-height: 1.2;
			margin-bottom: $space-lg-markguide;
		}
	}
}

// Title Anchor
.markguide-title {
	/* stylelint-disable-line */
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	position: relative;

	&__text {
		position: relative;
		z-index: 1;
	}

	&__anchor {
		color: $color-grey80-markguide;
		font-size: $scale-lg-markguide;
		padding-left: $space-md-markguide;

		&::after {
			background: linear-gradient(
					to left,
					rgba(black, 0.1),
					rgba(black, 0)
				)
				no-repeat right bottom;
			background-size: 100%;
			bottom: 0;
			content: "";
			height: 1px;
			position: absolute;
			right: 0;
			transition: width ease 0.4s;
			width: 0;
		}

		&:hover,
		&:focus {
			color: $color-grey60-markguide;

			&::after {
				width: 100%;
			}
		}

		&:active {
			color: $color-blue-markguide;
		}

		svg {
			height: 14px;
			width: 14px;
		}
	}

	&__highlight {
		bottom: -5px;
		left: -#{$space-md-markguide};
		pointer-events: none;
		position: absolute;
		right: -#{$space-md-markguide};
		top: -5px;
		z-index: 0;
	}
}

.markguide-anchor {
	pointer-events: none;
	position: absolute;
	transform: translateY(-70px);
}

.markguide-anchor:target + .markguide-title .markguide-title__highlight {
	animation: target-highlight 2s ease;
}

// Sticky headings logic
.markguide-section {
	padding: 1px 0;
	position: relative;
}

.markguide-title_2 {
	/* stylelint-disable-line */
	background: rgba($color-white-markguide, 0.9);
	border-bottom: 1px solid rgba(black, 0.1);
	margin: 0 -#{$space-md-markguide} $space-lg-markguide;
	padding: $space-sm-markguide $space-md-markguide;
	position: sticky;
	top: -1px; // compensate composition positioning bug
	z-index: 5;

	@supports (backdrop-filter: blur(10px)) {
		backdrop-filter: saturate(180%) blur(10px);
		background: rgba($color-white-markguide, 0.7);
	}

	.markguide-title__highlight {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
}

@keyframes target-highlight {
	0% {
		background-color: $color-orange-markguide;
	}

	100% {
		background-color: transparent;
	}
}
