.markguide-nav {
	// markguide-outline-view
	font-family: $font-sans-markguide;
	font-size: $markguide-scale-secondary;
	list-style: none;
	padding-bottom: $space-md-markguide;

	&__item {
		display: block;
		position: relative;

		&_index + &_index {
			display: none;
		}
	}

	&__ln {
		all: initial;
		align-items: center;
		color: inherit;
		cursor: pointer;
		display: flex;
		font-family: $font-sans-markguide;
		font-size: $markguide-scale-secondary;
		gap: 6px;
		overflow: hidden;
		padding: 5px 0;
		position: relative;
		text-decoration: none;
		text-overflow: ellipsis;
		transition: opacity ease 0.2s;
		user-select: none;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: black;
			text-decoration: none;
		}

		&:active {
			color: $color-blue-markguide;
		}

		&.js-current-page {
			background-color: $markguide-aside-selected;
			color: black;
			cursor: default;
			pointer-events: none;
		}

		svg {
			height: 18px;
			min-width: 18px;
			pointer-events: none;
			vertical-align: text-bottom;
			width: 18px;
		}

		&._category {
			svg {
				color: $color-blue-markguide;
			}
		}

		&.js-collapsed._category {
			svg {
				color: $color-grey70-markguide;
			}
		}

		&._empty {
			opacity: 0.6;
			font-style: italic;
		}
	}

	/* stylelint-disable */
	// Recursive nesting level structure - refactor me later
	> .markguide-nav__item {
		> .markguide-nav__ln {
			background: $markguide-aside-bg;
			padding: $space-sm-markguide 0 $space-sm-markguide $space-md-markguide;
			position: sticky;
			top: 0;
			z-index: 1;

			&::after {
				background: lightgrey;
				bottom: 0;
				content: "";
				height: 1px;
				left: $space-md-markguide;
				position: absolute;
				right: $space-md-markguide;
			}
		}

		.markguide-nav__item {
			> .markguide-nav__ln {
				padding-left: ($space-md-markguide * 2);
			}

			.markguide-nav__item {
				> .markguide-nav__ln {
					padding-left: ($space-md-markguide * 3);
				}

				.markguide-nav__item {
					> .markguide-nav__ln {
						padding-left: ($space-md-markguide * 4);
					}
				}
			}
		}
	}
	/* stylelint-enable */

	.markguide-nav__ln._category {
		svg {
		}
	}

	.markguide-nav__ln._category.js-collapsed {
		/* stylelint-disable-line */
		svg {
			/* stylelint-disable-line */
			transform: rotate(0);
		}

		+ .markguide-nav__sub-nav {
			/* stylelint-disable-line */
			display: none;
		}
	}
}

.js-searching {
	.markguide-nav__ln {
		color: lighten($markguide-color-text, 40%);
		cursor: default;
		pointer-events: none;

		&._category {
			svg {
				color: lighten($markguide-color-text, 40%);
			}
		}
	}
}

.js-found {
	.markguide-nav__ln {
		color: lighten($markguide-color-text, 40%);
		cursor: default;
		display: none;
		pointer-events: none;
	}

	.markguide-nav__ln.js-relevant {
		color: $markguide-color-text;
		cursor: pointer;
		display: block;
		pointer-events: initial;

		&:hover,
		&:focus {
			color: black;
		}

		&:active {
			color: $color-blue-markguide;
		}
	}

	.markguide-nav__sub-nav,
	.markguide-nav__ln._category {
		display: block !important; /* stylelint-disable-line */
	}
}
