<div class="markguide-landing">
    <div class="markguide-landing__content">
        <main class="markguide-landing__main">
            <section class="markguide-section">
                <h1 class="markguide markguide-title markguide-title_1">
                    <span class="markguide-title__text">
                        Custom plugin example
                    </span>
                    <a class="markguide-title__anchor" href="#h1-markguide" title="Copy link to this title">
                        <svg width="16" height="16" role="img">
                            <use href="#link-16"></use>
                        </svg>
                    </a>
                    <span class="markguide-title__highlight"></span>
                </h1>
                <p class="markguide markguide-p">Text</p>
            </section>
            <section class="markguide-section">

                <div>
                    {{data}}
                </div>

            </section>
        </main>
    </div>
</div>
