.b-markguide-color {
	background: var(--color-markguide-color-background);
	border: $border-width $border-style var(--color-markguide-border);
	margin: 0;
	padding: 0;

	&__figure {
		position: relative;
		background-image: linear-gradient(45deg, #f1f1f1 25%, transparent 25%, transparent 75%, #f1f1f1 75%, #f1f1f1), linear-gradient(45deg, #f1f1f1 25%, transparent 25%, transparent 75%, #f1f1f1 75%, #f1f1f1);
		background-position:
			0 0,
			6px 6px;
		background-size: 12px 12px;
		height: 3em;
	}

	&__figure-color {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__caption {
		padding: 0.5em;
	}

	&__name {
		display: block;
		font-weight: bold;
		color: var(--color-markguide-color-name);
	}

	&__code {
		display: block;
		color: var(--color-markguide-color-code);
	}
}
