.b-markguide-icon {
	border: $border-width $border-style var(--color-markguide-border);
	border-radius: 5px;
	padding: 10px 10px 40px;
	position: relative;

	&:hover {
		.markguide-icon__data {
			display: none;
		}

		.markguide-icon__code {
			display: block;
		}

		.markguide-icon__grid {
			display: block;
		}

		.markguide-icon__svg {
			background-color: #dfdfdf;
		}
	}

	&__svg {
		text-align: center;
		max-width: 64px;
		height: 64px;
		margin: 0 auto 10px;
		position: relative;

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}

		path {
			// fill: var(--color-markguide-icon-path);
		}

		&--old {
			path {
				// fill: #0065AD;
			}
		}
	}

	&__grid {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		--padding: 4px;

		&-top,
		&-bottom,
		&-left,
		&-right {
			position: absolute;
			background: #242add;
		}

		&-top,
		&-bottom {
			left: 0;
			right: 0;
			height: 1px;
		}

		&-top {
			top: var(--padding);
			bottom: auto;
		}

		&-bottom {
			bottom: var(--padding);
			top: auto;
		}

		&-left,
		&-right {
			top: 0;
			bottom: 0;
			width: 1px;
		}

		&-left {
			left: var(--padding);
			right: auto;
		}

		&-right {
			left: auto;
			right: var(--padding);
		}
	}

	&__data {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: $c-grey-200;
		padding: 5px 0;
		border-radius: 6px;
		border-top: $border-width $border-style var(--color-markguide-border);

		pre {
			font-size: 11px;
			text-align: center;
			margin: 0;
			white-space: normal;
		}

		b {
			font-weight: 700;
		}
	}

	&__name {
		font-size: 80%;
		font-weight: 700;
		text-align: center;
		line-height: 1;
		color: var(--color-markguide-icon-path);
		padding: 5px 0;
	}

	&__font {
		color: var(--color-markguide-icon-path);
		text-align: center;
		padding: 5px 0;
		font-size: 24px;
	}

	&__code {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		text-align: center;
		padding: 0;
		margin: 0;

		code {
			background-color: $c-grey-200;
			color: $c-grey-500;
			border-top: $border-width $border-style var(--color-markguide-border);
		}

		::selection {
			background-color: $c-blue-500;
			color: $c-white;
		}
	}
}
