.b-markguide-icons {
	font-size: 0;

	&__item {
		vertical-align: top;
		font-size: initial;
		box-sizing: border-box;
		display: inline-block;
		width: 20%;
		padding: 5px;
		box-sizing: border-box;
	}
}
