<div class="js-copier">
    <div class="atlas-html" style="{{{style}}}">
        <div class="atlas-html__item">{{{code}}}</div>
    </div>

    <details class="atlas-markup">
        <summary>Code:</summary>
        <button class="atlas-markup__copy-button js-copier-button">Copy</button>
        <div class="atlas-code">
            <pre><code class="js-copier-text language-{{language}}">{{code}}</code></pre>
        </div>
        <span role="region" aria-live="polite" class="atlas-markup__notifier js-playground__notifier"></span>
    </details>
</div>
