.markguide-style-font {
	margin-right: $space-md-markguide;

	&__caption {
		border-top: 1px solid $markguide-color-divider;
		display: flex;
		font-family: $font-mono-markguide;
		font-size: $markguide-scale-mono-small;
		margin-top: $space-sm-markguide;
		padding-top: $space-sm-markguide;
	}

	&__name {
		margin-bottom: $space-sm-markguide;
		margin-right: $space-sm-markguide;
		white-space: nowrap;

		&::after {
			content: ":";
		}
	}

	&__example {
		&._logo {
			font-size: 64px;
			line-height: 1;

			&::before {
				content: "Aa";
			}
		}

		&._characters {
			overflow: hidden;
			white-space: nowrap;

			&::before {
				content: "a b c d e f g h i j k l m n o p q r s t u v w x y z";
			}
		}

		&._characters-capital {
			overflow: hidden;
			white-space: nowrap;

			&::before {
				content: "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z";
			}
		}

		&._digits {
			&::before {
				content: "1 2 3 4 5 6 7 8 9 0";
			}
		}
	}
}
