@use "sass:math";

.markguide-style-motion {
	display: flex;

	&__caption {
		font-family: $font-mono-markguide;
		font-size: $markguide-scale-mono-small;
		line-height: $space-md-markguide;
		min-width: 200px;
		width: 200px;
	}

	&__frame {
		height: $space-md-markguide;
		position: relative;
		width: 100%;
	}

	&__ball {
		animation-play-state: paused !important; /* stylelint-disable-line */
		background-color: $color-blue-markguide;
		border-radius: 100%;
		height: math.div($space-md-markguide, 2);
		left: 0;
		position: absolute;
		top: 0;
		transform: translateY(50%);
		width: math.div($space-md-markguide, 2);

		.markguide-style-motion:hover & {
			animation-play-state: initial !important; /* stylelint-disable-line */
		}
	}
}

@at-root {
	@keyframes markguide-transition-example {
		0% {
			left: 0;
		}

		100% {
			left: 100%;
		}
	}
}
