.markguide-style-section {
	color: $markguide-color-text;
	margin: $space-md-markguide 0 $space-xl-markguide;
	position: relative;

	&__title {
		font-family: $font-sans-markguide;
		font-size: $scale-xl-markguide;
		font-weight: bold;
		letter-spacing: -0.04em;
		margin-bottom: $space-lg-markguide;
	}
}
