@use "sass:math";

.markguide-style-columns {
	display: flex;
	flex-wrap: wrap;

	&__item {
		margin-bottom: $space-md-markguide;

		&._bottom {
			align-self: flex-end;
		}
	}

	&._span6 {
		.markguide-style-columns__item {
			width: math.div(100%, 6);
		}
	}

	&._span3 {
		.markguide-style-columns__item {
			min-width: math.div(100%, 3);
			width: math.div(100%, 3);
		}
	}

	&._box {
		align-items: flex-end;

		.markguide-style-columns__item {
			margin: 1px;
		}
	}
}
