.markguide-style-breaks {
	display: flex;
	font-family: $font-mono-markguide;
	font-size: $markguide-scale-mono-small;
	margin-bottom: $space-lg-markguide;

	&__item {
		align-items: center;
		counter-increment: breaks;
		display: flex;

		&::before {
			color: $color-blue-markguide;
			content: counter(breaks);
			display: inline-block;
			font-family: $font-sans-markguide;
			font-size: 35px;
			padding-right: $space-sm-markguide;
		}
	}

	&__item-inner {
		padding-right: $space-lg-markguide;
	}

	&__name {
	}

	&__value {
	}
}

.markguide-style-breaks-graph {
	.markguide-tick-breaks {
		line {
			stroke: deeppink;
			stroke-width: 2px;
		}

		text {
			fill: deeppink;
			font-family: $font-mono-markguide;
			font-size: 11px;
		}
	}

	.markguide-tick-lines {
		line {
			stroke: $color-grey80-markguide;
		}
	}

	.markguide-tick-hints {
		line {
			stroke: $color-grey80-markguide;
		}

		text {
			fill: $color-blue-markguide;
			font-family: $font-mono-markguide;
		}
	}
}
