.markdown-code {
	margin-bottom: 16px;
}

.markdown-body {
	pre {
		font-size: 12px;
		margin-bottom: 16px;
		margin-top: 0;

		br {
			display: none;
		}
	}

	code {
		background-color: var(--bgColor-neutral-muted);
		border-radius: 6px;
		font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
		font-size: 12px;
		margin: 0;
		padding: 0.2em 0.4em;
		white-space: break-spaces;

		br {
			display: none;
		}
	}
}
