.markdown-body {
	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.54;
	}

	::-webkit-file-upload-button {
		appearance: button;
		font: inherit;
	}

	::placeholder {
		color: var(--color-markdown-body__color--placeholder);
		opacity: 1;
	}

	input {
		font-family: inherit;
		font-size: inherit;
		font: inherit;
		line-height: inherit;
		margin: 0;
		overflow: visible;
	}

	[type="button"],
	[type="reset"],
	[type="submit"] {
		appearance: button;
	}

	button:focus:not(:focus-visible) {
		outline: none;
		box-shadow: none;
	}

	[type="checkbox"],
	[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}

	[type="number"]::-webkit-inner-spin-button,
	[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	[type="search"]::-webkit-search-cancel-button,
	[type="search"]::-webkit-search-decoration {
		appearance: none;
	}

	[role="button"],
	input[type="radio"],
	input[type="checkbox"] {
		&:focus,
		&:focus-visible {
			box-shadow: none;
			outline-offset: -2px;
			outline: 2px solid var(--color-markdown-input__outline--focus);
		}

		&:focus:not(:focus-visible) {
			outline: solid 1px transparent;
		}
	}

	input[type="radio"],
	input[type="checkbox"] {
		&:focus,
		&:focus-visible {
			outline-offset: 0;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}

	details {
		display: block;
		margin-bottom: 16px;
		margin-top: 0;

		summary {
			cursor: pointer;
			display: list-item;

			&:focus:not(:focus-visible) {
				box-shadow: none;
				outline: none;
			}
		}
	}

	details:not([open]) > *:not(summary) {
		display: none;
	}

	details-dialog:focus:not(:focus-visible) {
		outline: none;
	}

	figure {
		display: block;
		margin: 1em 40px;
	}

	figcaption {
		display: block;
	}

	kbd {
		@include fontMono(11px, 400, 10px);

		background-color: var(--color-markdown-kbd__background);
		border-radius: 6px;
		border: 1px solid var(--color-markdown-kbd__border);
		box-shadow: inset 0 -1px 0 var(--color-markdown-kbd__box-shadow);
		color: var(--color-markdown-kbd__color);
		display: inline-block;
		padding: 3px 5px;
		vertical-align: middle;
	}

	samp {
		@include fontMono(12px, 400);
	}
}
