.markdown-body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-weight: var(--base-text-weight-semibold, 600);
		line-height: 1.25;

		&:hover {
			.anchor {
				text-decoration: none;
			}
		}

		tt,
		code {
			padding: 0 0.2em;
			font-size: inherit;
		}
	}

	h1 {
		margin: 0.67em 0;
		padding-bottom: 0.3em;
		font-size: 2em;
		border-bottom: 1px solid var(--borderColor-muted);
	}

	h2 {
		padding-bottom: 0.3em;
		font-size: 1.5em;
		border-bottom: 1px solid var(--borderColor-muted);
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.875em;
	}

	h6 {
		font-size: 0.85em;
		color: var(--fgColor-muted);
	}

	summary h1,
	summary h2,
	summary h3,
	summary h4,
	summary h5,
	summary h6 {
		display: inline-block;

		.anchor {
			margin-left: -40px;
		}
	}

	.octicon {
		display: inline-block;
		overflow: visible !important;
		vertical-align: text-bottom;
		fill: currentColor;
	}
}

.markdown-heading {
	position: relative;

	.anchor {
		position: absolute;
		top: 50%;
		left: -28px;
		display: flex;
		width: 28px;
		height: 28px;
		margin: auto;
		border-radius: var(--borderRadius-small);
		opacity: 0;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);

		&:focus {
			outline: none;
		}
		&:hover {
			opacity: 1;
		}
	}

	.heading-element:hover + .anchor {
		opacity: 1;
	}
}
