.markdown-body {
	img {
		background-color: var(--bgColor-default);
		border-style: none;
		box-sizing: content-box;
		max-width: 100%;

		&[align="right"] {
			padding-left: 20px;
		}

		&[align="left"] {
			padding-right: 20px;
		}
	}

	.emoji {
		background-color: transparent;
		max-width: none;
		vertical-align: text-top;
	}

	span {
		&.frame {
			display: block;
			overflow: hidden;

			> span {
				border: 1px solid var(--borderColor-default);
				display: block;
				float: left;
				margin: 13px 0 0;
				overflow: hidden;
				padding: 7px;
				width: auto;
			}

			span {
				img {
					display: block;
					float: left;
				}
				span {
					clear: both;
					color: var(--fgColor-default);
					display: block;
					padding: 5px 0 0;
				}
			}
		}

		&.align-center {
			clear: both;
			display: block;
			overflow: hidden;

			> span {
				display: block;
				margin: 13px auto 0;
				overflow: hidden;
				text-align: center;
			}
			span img {
				margin: 0 auto;
				text-align: center;
			}
		}

		&.align-right {
			clear: both;
			display: block;
			overflow: hidden;

			> span {
				display: block;
				margin: 13px 0 0;
				overflow: hidden;
				text-align: right;
			}

			span img {
				margin: 0;
				text-align: right;
			}
		}

		&.float-left {
			display: block;
			float: left;
			margin-right: 13px;
			overflow: hidden;

			span {
				margin: 13px 0 0;
			}
		}

		&.float-right {
			display: block;
			float: right;
			margin-left: 13px;
			overflow: hidden;

			> span {
				display: block;
				margin: 13px auto 0;
				overflow: hidden;
				text-align: right;
			}
		}
	}

	g-emoji {
		display: inline-block;
		font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: 1em;
		font-style: normal !important;
		font-weight: 400;
		line-height: 1;
		min-width: 1ch;
		vertical-align: -0.075em;

		img {
			height: 1em;
			width: 1em;
		}
	}
}
