.markdown-body a {
  background-color: transparent;
  color: var(--fgColor-accent);
  text-decoration: none;
}

.markdown-body a:focus {
    outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body a:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-body a:focus-visible {
    outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body a:not([class]):focus,
.markdown-body a:not([class]):focus-visible {
  outline-offset: 0;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
