.markdown-body {
	a {
		background-color: transparent;
		color: var(--fgColor-accent);
		text-decoration: none;

		&:focus {
			box-shadow: none;
			outline-offset: -2px;
			outline: 2px solid var(--focus-outlineColor);
		}

		&:hover {
			text-decoration: underline;
		}

		&:focus:not(:focus-visible) {
			box-shadow: none;
			outline: none;
		}

		&:focus-visible {
			box-shadow: none;
			outline-offset: -2px;
			outline: 2px solid var(--focus-outlineColor);
		}

		&:not([class]) {
			&:focus,
			&:focus-visible {
				outline-offset: 0;
			}
		}

		&:not([href]) {
			color: inherit;
			text-decoration: none;
		}
	}
}
