.markdown-body {
	ul,
	ol {
		list-style: initial;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 2em;
	}

	ol ol,
	ul ol {
		list-style-type: lower-roman;
	}

	ul ul ol,
	ul ol ol,
	ol ul ol,
	ol ol ol {
		list-style-type: lower-alpha;
	}

	summary h1,
	summary h2 {
		padding-bottom: 0;
		border-bottom: 0;
	}

	ul.no-list,
	ol.no-list {
		padding: 0;
		list-style-type: none;
	}

	ol[type="a s"] {
		list-style-type: lower-alpha;
	}

	ol[type="A s"] {
		list-style-type: upper-alpha;
	}

	ol[type="i s"] {
		list-style-type: lower-roman;
	}

	ol[type="I s"] {
		list-style-type: upper-roman;
	}

	ol[type="1"] {
		list-style-type: decimal;
	}

	div > ol:not([type]) {
		list-style-type: decimal;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	li > p {
		margin-top: 16px;
	}

	li + li {
		margin-top: 0.25em;
	}

	dl {
		padding: 0;
		dt {
			padding: 0;
			margin-top: 16px;
			font-size: 1em;
			font-style: italic;
			font-weight: var(--base-text-weight-semibold, 600);
		}
		dd {
			padding: 0 16px;
			margin-bottom: 16px;
			margin-left: 0;
		}
	}

	ul,
	ol,
	dl {
		margin-top: 0;
		margin-bottom: 16px;
	}
}
