.markdown-body {
	table {
		border-spacing: 0;
		border-collapse: collapse;
		display: block;
		width: max-content;
		max-width: 100%;
		overflow: auto;
	}

	td,
	th {
		padding: 0;
	}

	table th {
		font-weight: var(--base-text-weight-semibold, 600);
	}

	table th,
	table td {
		padding: 6px 13px;
		border: 1px solid var(--borderColor-default);
	}

	table td > :last-child {
		margin-bottom: 0;
	}

	table tr {
		background-color: var(--bgColor-default);
		border-top: 1px solid var(--borderColor-muted);
	}

	table tr:nth-child(2n) {
		background-color: var(--bgColor-muted);
	}

	table img {
		background-color: transparent;
	}

	table {
		margin-top: 0;
		margin-bottom: 16px;
	}
}
