.markdown-body {
	table {
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		margin-bottom: 16px;
		margin-top: 0;
		max-width: 100%;
		overflow: auto;
		width: max-content;

		tr {
			background-color: var(--color-markdown-tr__background);
			border-top: 1px solid var(--color-markdown-tr__border);

			&:nth-child(2n) {
				background-color: var(--color-markdown-tr-2n__background);
			}
		}

		td,
		th {
			border: 1px solid var(--color-markdown-th-td_border);
			padding: 6px 13px;
		}

		td > :last-child {
			margin-bottom: 0;
		}

		th {
			font-weight: 600;
		}

		img {
			background-color: transparent;
		}
	}
}
