.markdown-body {
	table {
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		margin-bottom: 16px;
		margin-top: 0;
		max-width: 100%;
		overflow: auto;
		width: max-content;

		tr {
			background-color: var(--bgColor-default);
			border-top: 1px solid var(--borderColor-muted);

			&:nth-child(2n) {
				background-color: var(--bgColor-muted);
			}
		}

		td,
		th {
			border: 1px solid var(--borderColor-default);
			padding: 6px 13px;
		}

		td > :last-child {
			margin-bottom: 0;
		}

		th {
			font-weight: var(--base-text-weight-semibold, 600);
		}

		img {
			background-color: transparent;
		}
	}
}
