.markdown-body {
	p {
		margin-top: 0;
		margin-bottom: 16px;
	}

	b,
	strong {
		font-weight: var(--base-text-weight-semibold, 600);
	}

	mark {
		background-color: var(--bgColor-attention-muted);
		color: var(--fgColor-default);
	}

	small {
		font-size: 90%;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	abbr[title] {
		border-bottom: none;
		text-decoration: underline dotted;
	}

	dfn {
		font-style: italic;
	}

	samp {
		font-size: 85%;
	}

	blockquote {
		border-left: 0.25em solid var(--borderColor-default);
		color: var(--fgColor-muted);
		margin-bottom: 16px;
		margin-top: 0;
	}

	blockquote > :first-child {
		margin-top: 0;
	}

	blockquote > :last-child {
		margin-bottom: 0;
	}
}
