.markdown-body p {
	margin-top: 0;
	margin-bottom: 10px;
}

.markdown-body p {
	margin-top: 0;
	margin-bottom: 16px;
}

.markdown-body b,
.markdown-body strong {
	font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-body mark {
	background-color: var(--bgColor-attention-muted);
	color: var(--fgColor-default);
}

.markdown-body small {
	font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.markdown-body sub {
	bottom: -0.25em;
}

.markdown-body sup {
	top: -0.5em;
}

.markdown-body abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
}

.markdown-body dfn {
	font-style: italic;
}

.markdown-body samp {
	font-size: 85%;
}

.markdown-body blockquote {
	margin: 0;
	padding: 0 1em;
	color: var(--fgColor-muted);
	border-left: 0.25em solid var(--borderColor-default);
}

.markdown-body blockquote > :first-child {
	margin-top: 0;
}

.markdown-body blockquote > :last-child {
	margin-bottom: 0;
}

.markdown-body blockquote {
	margin-top: 0;
	margin-bottom: 16px;
}
