<summary class="b-markguide-markup__summary">Code:</summary>
<button class="b-markguide-markup__copy-button js-copier-button" type="button" title="Copy">
    <svg width="16" height="16" viewBox="0 0 16 16" role="img">
        <use href="#copy-16"></use>
    </svg>
</button>