<div>
    <div class="b-markguide-html">
        <div class="b-markguide-html__item">{{{code}}}</div>
    </div>

    <details class="js-copier b-markguide-markup">
        {{>copyButton}}
        <div class="b-markguide-code">
            <pre><code class="language-pug">{{pug}}</code></pre>
            <pre><code class="js-copier-text language-html">{{code}}</code></pre>
        </div>
    </details>
</div>
