<div>
    <div class="b-markguide-html" style="{{{style}}}">
        <div class="b-markguide-html__item">{{{code}}}</div>
    </div>

    <details class="js-copier b-markguide-markup">
        <summary>Code:</summary>
        <button class="b-markguide-markup__copy-button js-copier-button">Copy</button>
        <div class="b-markguide-code">
            <pre><code class="js-copier-text language-{{language}}">{{code}}</code></pre>
        </div>
        <span role="region" aria-live="polite" class="b-markguide-markup__notifier js-playground__notifier"></span>
    </details>
</div>
