<div>
    <div class="b-markguide-html" style="{{{style}}}">
        <div class="b-markguide-html__item">{{{code}}}</div>
    </div>

    <details class="js-copier b-markguide-markup">
        {{>copyButton}}
        <div class="b-markguide-code">
            <pre><code class="js-copier-text language-{{language}}">{{code}}</code></pre>
        </div>
    </details>
</div>
