<div class="markdown-heading">
    <h{{depth}} class="heading-element">
        {{{text}}}
    </h{{depth}}>

    <a id="h{{depth}}-{{escapedText}}" class="anchor" href="#h{{depth}}-{{escapedText}}">
        <svg class="octicon" width="16" height="16" role="img" aria-hidden="true">
            <use href="#link-16"></use>
        </svg>
    </a>
</div>
