<span class="anchor" id="h{{depth}}-{{escapedText}}"></span>
<h{{depth}}>
    <a href="#h{{depth}}-{{escapedText}}">
        <svg width="16" height="16" role="img">
            <use href="#link-16"></use>
        </svg>
    </a>
    <span>
        {{{text}}}
    </span>
</h{{depth}}>
