<div class="markdown-body">
    <div class="markdown-heading">
        <h1 class="heading-element">
            {{page.title}}
        </h1>

        <a id="h1-{{page.id}}" class="anchor" href="#h1-{{page.id}}">
            <svg class="octicon" width="16" height="16" role="img" aria-hidden="true">
                <use href="#link-16"></use>
            </svg>
        </a>
    </div>
</div>

<div class="plugin-body">
    {{#colors.colorSections}}
    <h2>{{ name }}</h2>
    <div class="
        b-markguide-colors
        {{#type}}b-markguide-colors--list{{/type}}">
        {{#values}}
        <div class="b-markguide-colors__item">
            <div class="
                b-markguide-color
                {{#type}}b-markguide-color--list{{/type}}">
                <div class="b-markguide-color__figure">
                    <span class="b-markguide-color__figure-color" style="background: {{hex}}"></span>
                </div>
                <div class="b-markguide-color__caption">
                    <strong class="b-markguide-color__name">{{name}}</strong>
                    <div class="b-markguide-color__code">{{scssVariable}}</div>
                    <div class="b-markguide-color__hex">{{hex}}</div>
                </div>
            </div>
        </div>
        {{/values}}
    </div>
    {{/colors.colorSections}}
</div>
