<div class="b-markguide-icons__item">
    <div class="b-markguide-icon">
        <div class="b-markguide-icon__data">
            <pre>width: <b>{{width}}</b> height: <b>{{height}}</b> viewBox: <b>0 0 {{width}} {{height}}</b></pre>
        </div>
        <div class="b-markguide-icon__svg" style="max-width: 64px; height: 64px;">
            {{{svgTag}}}
                {{{paths}}}
            </svg>

            <div class="b-markguide-icon__grid">
                <div class="b-markguide-icon__grid-top"></div>
                <div class="b-markguide-icon__grid-bottom"></div>
                <div class="b-markguide-icon__grid-left"></div>
                <div class="b-markguide-icon__grid-right"></div>
            </div>
        </div>
        <div class="b-markguide-icon__font" style="">

        </div>
        <div class="b-markguide-icon__name">
            {{fileName}}
        </div>
        <div class="b-markguide-icon__code">
            <code class="hljs language-none">@include icon({{name}}) {}</code>
        </div>
    </div>
</div>