<div class="markdown-body">
    <div class="markdown-heading">
        <h1 class="heading-element">
            {{page.title}}
        </h1>

        <a id="h1-{{page.id}}" class="anchor" href="#h1-{{page.id}}">
            <svg class="octicon" width="16" height="16" role="img" aria-hidden="true">
                <use href="#link-16"></use>
            </svg>
        </a>
    </div>
</div>

<h2>Logos</h2>
<div class="b-markguide-icons">
    {{#icons.0}}
        {{> item}}
    {{/icons.0}}
</div>

<h2>Globals</h2>
<div class="b-markguide-icons">
    {{#icons.1}}
        {{> item}}
    {{/icons.1}}
</div>

