.l-markguide-container {
	height: 100%;
}
.l-markguide-container__aside {
	bottom: 0;
	box-shadow: 1px 0 0 0 hsl(0, 0%, 87%);
	left: 0;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 2;
}
.l-markguide-container__main {
	background-color: hsl(0, 0%, 100%);
	margin-left: 250px;
	position: relative;
	z-index: 1;
}
.l-markguide-container.js-aside-panel-hidden .l-markguide-container__aside {
	min-width: 5px;
	width: 5px;
}
.l-markguide-container.js-aside-panel-hidden .l-markguide-container__main {
	margin-left: 5px;
}

.markguide-search {
	position: relative;
}
.markguide-search__input {
	-webkit-appearance: none;
	background: transparent;
	border: 1px solid hsl(0, 0%, 87%);
	border-radius: 5px;
	box-sizing: border-box;
	font-family: "Arial", "FreeSans", sans-serif;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	outline: none;
	padding: 0 10px;
	text-indent: 18px;
	width: 100%;
}
.markguide-search__input:focus {
	background: #e6e6e6;
}
.markguide-search__input::-webkit-search-cancel-button, .markguide-search__input::-webkit-search-decoration {
	display: none;
}
.markguide-search__input::-ms-clear {
	display: none;
}
.markguide-search__icon {
	color: hsl(210, 0%, 35%);
	height: 16px;
	left: 8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	width: 16px;
}
.js-found .markguide-search__icon {
	color: #263740;
}
.markguide-search__clear {
	border: none;
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	height: 16px;
	line-height: 16px;
	outline: none;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -8px;
	width: 16px;
}
.markguide-search__clear svg {
	display: block;
	color: #263740;
}
.markguide-search__clear:hover svg {
	color: #787878;
}
.markguide-search__clear:focus svg {
	color: #263740;
}
.markguide-search__clear:active svg {
	color: #5e5e5e;
}
.js-found .markguide-search__clear {
	opacity: 1;
}

.markguide-aside-ctrl {
	background: rgba(0, 0, 0, 0);
	border: none;
	bottom: 0;
	color: transparent;
	cursor: ew-resize;
	outline: none;
	position: absolute;
	right: -7px;
	top: 0;
	transition: color ease 0.2s;
	width: 10px;
	z-index: 2;
}
.markguide-aside-ctrl::after {
	border-left: 2px solid;
	bottom: 0;
	content: "";
	position: absolute;
	top: 0;
}
.markguide-aside-ctrl::before {
	border-left: 2px solid;
	border-radius: 5px;
	content: "";
	height: 20px;
	margin: auto;
	position: absolute;
	right: -1px;
}
.markguide-aside-ctrl:hover, .markguide-aside-ctrl:focus {
	color: #263740;
}
.js-aside-panel-hidden .markguide-aside-ctrl {
	cursor: pointer;
}

.markguide-aside-resizer-overlay {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 11;
}
.markguide-aside-resizer-overlay.js-dragging {
	display: block;
}

.markguide-header__logo {
	padding-bottom: 10px;
	text-align: center;
}
.markguide-header__logo svg {
	height: 30px;
}
.markguide-aside {
	all: initial;
	background-color: hsl(0, 0%, 95%);
	bottom: 0;
	color: hsl(210, 0%, 35%);
	display: flex;
	flex-direction: column;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;
}
.markguide-aside__header {
	padding: 10px;
}
.markguide-aside__content {
	overflow-y: auto;
	-webkit-overscroll-behavior: contain;
	overscroll-behavior: contain; /* stylelint-disable-line */
}
.markguide-aside__footer {
	margin-top: auto;
	padding-top: 20px;
	position: relative;
}
.markguide-aside__footer::after {
	background: linear-gradient(rgba(255, 255, 255, 0), hsl(0, 0%, 95%));
	content: "";
	display: block;
	height: 20px;
	left: 4px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: -20px;
	z-index: 2;
}

.js-aside-panel-hidden .markguide-aside__header,
.js-aside-panel-hidden .markguide-aside__footer,
.js-aside-panel-hidden .markguide-aside__content {
	display: none;
}

.markguide-nav {
	font-family: "Arial", "FreeSans", sans-serif;
	font-size: 12.8px;
	list-style: none;
	padding-bottom: 20px;
	/* stylelint-disable */
	/* stylelint-enable */
}
.markguide-nav__item {
	display: block;
	position: relative;
}
.markguide-nav__item_index + .markguide-nav__item_index {
	display: none;
}
.markguide-nav__ln {
	all: initial;
	align-items: center;
	color: inherit;
	cursor: pointer;
	display: flex;
	font-family: "Arial", "FreeSans", sans-serif;
	font-size: 12.8px;
	gap: 6px;
	overflow: hidden;
	padding: 5px 0;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: opacity ease 0.2s;
	-webkit-user-select: none;
	        user-select: none;
	white-space: nowrap;
}
.markguide-nav__ln:hover, .markguide-nav__ln:focus {
	color: black;
	text-decoration: none;
}
.markguide-nav__ln:active {
	color: #263740;
}
.markguide-nav__ln.js-current-page {
	background-color: hsl(0, 0%, 88%);
	color: black;
	cursor: default;
	pointer-events: none;
}
.markguide-nav__ln svg {
	height: 18px;
	min-width: 18px;
	pointer-events: none;
	vertical-align: text-bottom;
	width: 18px;
}
.markguide-nav__ln._category svg {
	color: #263740;
}
.markguide-nav__ln.js-collapsed._category svg {
	color: hsl(0, 0%, 70%);
}
.markguide-nav__ln._empty {
	opacity: 0.6;
	font-style: italic;
}
.markguide-nav > .markguide-nav__item > .markguide-nav__ln {
	background: hsl(0, 0%, 95%);
	padding: 10px 0 10px 20px;
	position: sticky;
	top: 0;
	z-index: 1;
}
.markguide-nav > .markguide-nav__item > .markguide-nav__ln::after {
	background: lightgrey;
	bottom: 0;
	content: "";
	height: 1px;
	left: 20px;
	position: absolute;
	right: 20px;
}
.markguide-nav > .markguide-nav__item .markguide-nav__item > .markguide-nav__ln {
	padding-left: 40px;
}
.markguide-nav > .markguide-nav__item .markguide-nav__item .markguide-nav__item > .markguide-nav__ln {
	padding-left: 60px;
}
.markguide-nav > .markguide-nav__item .markguide-nav__item .markguide-nav__item .markguide-nav__item > .markguide-nav__ln {
	padding-left: 80px;
}
.markguide-nav .markguide-nav__ln._category.js-collapsed { /* stylelint-disable-line */ }
.markguide-nav .markguide-nav__ln._category.js-collapsed svg { /* stylelint-disable-line */
	transform: rotate(0);
}
.markguide-nav .markguide-nav__ln._category.js-collapsed + .markguide-nav__sub-nav { /* stylelint-disable-line */
	display: none;
}

.js-searching .markguide-nav__ln {
	color: #bfbfbf;
	cursor: default;
	pointer-events: none;
}
.js-searching .markguide-nav__ln._category svg {
	color: #bfbfbf;
}

.js-found .markguide-nav__ln {
	color: #bfbfbf;
	cursor: default;
	display: none;
	pointer-events: none;
}
.js-found .markguide-nav__ln.js-relevant {
	color: hsl(210, 0%, 35%);
	cursor: pointer;
	display: block;
	pointer-events: initial;
}
.js-found .markguide-nav__ln.js-relevant:hover, .js-found .markguide-nav__ln.js-relevant:focus {
	color: black;
}
.js-found .markguide-nav__ln.js-relevant:active {
	color: #263740;
}
.js-found .markguide-nav__sub-nav,
.js-found .markguide-nav__ln._category {
	display: block !important; /* stylelint-disable-line */
}

.markguide-footer-copyright {
	color: hsl(210, 0%, 35%);
	display: block;
	font-family: "Arial", "FreeSans", sans-serif;
	font-size: 10px;
	line-height: 1.2;
	margin: 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.markguide-loader {
	align-items: center;
	background: rgba(255, 255, 255, 0.96);
	bottom: 0;
	color: #263740;
	display: none;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;
}
.js-loading-frame .markguide-loader {
	display: flex;
}