.markguide-toc {
	font-family: $font-sans-markguide;
	font-size: 14px;
	padding-top: 30px;

	&__info {
		border: 1px solid $color-grey80-markguide;
		border-radius: $markguide-radius;
		display: flex;
		flex-flow: column nowrap;
		font-size: 14px;
		gap: 10px;
		margin-bottom: 30px;
		padding: 10px;
	}

	&__path {
		font-family: $font-mono-markguide;
	}

	&__date {
		font-family: $font-mono-markguide;
	}

	&__item {
		display: block;
		padding: 3px 0;
	}

	&__ln {
		color: $color-blue-markguide;
		display: block;
		text-decoration: underline;
		text-overflow: ellipsis;

		&:hover,
		&:focus {
			color: darken($color-blue-markguide, 15%);
		}

		&:active {
			color: $color-orange-markguide;
		}

		&_1 {
			font-size: 14px;
			font-weight: bold;
		}

		&_2 {
			font-weight: bold;
			margin-left: $space-md-markguide;
		}

		&_3 {
			margin-left: $space-md-markguide * 2;
		}

		&_4 {
			margin-left: $space-md-markguide * 3;
		}

		&_5 {
			margin-left: $space-md-markguide * 4;
		}

		&_6 {
			margin-left: $space-md-markguide * 5;
		}
	}
}
