$bg: $color-yellow-markguide;
$fg: $color-white-markguide;
$accent: $markguide-color-text;

.markguide-landing {
	&__content {
		display: flex;
		flex-flow: column nowrap;
		gap: 20px;
		position: relative;
	}

	&__main {
		width: 100%;
	}
}
