<div class="markdown-body">
    <div class="markdown-heading">
        <h1 class="heading-element">
            {{page.title}}
        </h1>

        <a id="h1-{{page.id}}" class="anchor" href="#h1-{{page.id}}">
            <svg class="octicon" width="16" height="16" role="img" aria-hidden="true">
                <use href="#link-16"></use>
            </svg>
        </a>
    </div>
</div>

<style>
    .b-markguide-typography h2,
    .b-markguide-typography__symbols,
    .b-markguide-typography__example {
        font-family: var(--family);
        font-weight: var(--weight);
        font-style: var(--style);
    }
</style>

<div class="plugin-body">
    {{#fonts}}
        <div class="b-markguide-typography" style="--family: '{{family}}'; --weight: {{weight}}; --style: {{style}};">
            <h2>{{family}} - {{weight}} - {{style}}</h2>

            <div class="b-markguide-typography__symbols">
                {{#digits}}
                    <div class="b-markguide-typography__symbol">
                        {{.}}
                    </div>
                {{/digits}}
            </div>

            <div class="b-markguide-typography__symbols">
                {{#alphabet}}
                    <div class="b-markguide-typography__symbol">
                        {{u}}{{l}}
                    </div>
                {{/alphabet}}
            </div>


            <div class="b-markguide-typography__example show-typography">
                <p>The quick brown fox jumps over the lazy dog.</p>
            </div>
        </div>
    {{/fonts}}
</div>
