.b-markguide-modifier {
	background-color: var(--color-markguide-modifier-bg);
	margin-top: 10px;

	&__wrapper {
		border: $border-width $border-style var(--color-markguide-border);
		border-width: $border-width 0;
		padding: 10px;
	}

	&__heading {
		margin: 0 -10px 10px;
		padding: 10px;
		border: $border-width $border-style var(--color-markguide-border);
		background-color: #eee;
	}

	&__default-name {
		margin-bottom: 10px;
	}

	&__name {
		float: left;
		padding-right: 10px;
		font-weight: bold;

		&:empty {
			display: none;
		}
	}

	&__description {
		margin-bottom: 10px;

		&:empty {
			display: none;
		}
	}

	&__example {
		clear: left;
		border: 2px dashed transparent;
		position: relative; // Contain the example's absolute positioning.
		z-index: 0; // Establishes a local stacking context.
		margin: -2px -2px 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__example-footer {
		clear: both;
	}
}

.is-fullscreen {
	.markguide-modifier__wrapper {
		// Un-do padding on .markguide-section.

		margin-left: -20px;
		margin-right: -20px;

		// Remove all padding on the wrapper

		padding-left: 0;
		padding-right: 0;
		border: none;
	}

	.markguide-modifier__heading {
		margin: 0 20px 10px;
		border: $border-width $border-style var(--color-markguide-border);
	}

	.markguide-modifier__default-name {
		margin-left: 20px;
		margin-right: 20px;
	}

	.markguide-modifier__name {
		margin-left: 20px;
	}

	.markguide-modifier__description {
		margin-right: 20px;
	}
}

.markguide-guides-mode .markguide-modifier__example,
.markguide-guides-mode .markguide-modifier__example-footer {
	&::before,
	&::after {
		z-index: -1;
		box-sizing: border-box;
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		border: 2px solid var(--color-markguide-border);
	}
}

.markguide-guides-mode .markguide-modifier__example {
	border-color: var(--color-markguide-border);

	&::before {
		top: -5px;
		left: -5px;
		border-top: 0;
		border-left: 0;
	}

	&::after {
		top: -5px;
		right: -5px;
		border-top: 0;
		border-right: 0;
	}
}

.markguide-guides-mode.markguide-fullscreen-mode .markguide-modifier__example {
	&::before {
		left: auto;
		right: 0;
	}

	&::after {
		right: auto;
		left: 0;
	}
}

.markguide-guides-mode .markguide-modifier__example-footer {
	&::before {
		bottom: -5px;
		left: -5px;
		border-bottom: 0;
		border-left: 0;
	}

	&::after {
		bottom: -5px;
		right: -5px;
		border-right: 0;
		border-bottom: 0;
	}
}

.markguide-guides-mode.markguide-fullscreen-mode .markguide-modifier__example-footer {
	&::before {
		left: auto;
		right: 0;
	}

	&::after {
		right: auto;
		left: 0;
	}
}
