.b-markguide-title {
	@include font($size: 16px);

	margin-bottom: 0;

	&__ref {
		display: block;
		color: var(--color-markguide-title-header);

		&::before {
			content: 'Section ';
		}
	}

	&__permalink {
		display: block;
		color: var(--color-markguide-title-permalink);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-markguide-permalink);

			@media (min-width: 607px) {
				.markguide-title__permalink-hash {
					display: inline;
				}
			}
		}
	}

	&__permalink-hash {
		display: none;
		color: var(--color-markguide-title-permalink-hash);
	}

}

.is-fullscreen .markguide-title {
	margin-top: 0;
}
