.b-markguide-hide-button {
	@include font($size: 16px, $fontWeight: $font-weight-bold);

	border-radius: 6px;
	border: 1px solid black;
	cursor: pointer;
	padding: 5px 10px;

	&.hide {
		background: grey;
	}
}
