.b-markguide-parameters {
	display: table;
	list-style-type: none;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;

	&__title {

	}

	&__item {
		display: table-row;
	}

	&__name {
		display: table-cell;
		padding-right: 20px;
		white-space: nowrap;
	}

	&__description {
		display: table-cell;
	}

	&__default-value code {
		white-space: nowrap;
	}
}
