.b-markguide-footer-copyright {
	@include font($size: 10px);

	color: #000;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
