.b-markguide-aside-ctrl {
	background: transparent;
	border: none;
	bottom: 0;
	color: transparent;
	cursor: col-resize;
	outline: none;
	position: absolute;
	right: -7px;
	top: 0;
	transition: color ease 0.2s;
	width: 10px;
	z-index: 2;

	&::after {
		border-left: 2px solid;
		bottom: 0;
		content: "";
		position: absolute;
		top: 0;
	}

	&::before {
		border-left: 2px solid;
		border-radius: 5px;
		content: "";
		height: 20px;
		margin: auto;
		position: absolute;
		right: -1px;
	}

	&:hover,
	&:focus {
		color: var(--color-mg-aside-ctrl__color--hover);
		outline: none !important;
	}

	.js-aside-panel-hidden & {
		cursor: col-resize;
	}
}

.b-markguide-aside-resizer-overlay {
	display: none;
	inset: 0;
	position: fixed;
	z-index: 11;

	&.js-dragging {
		display: block;
	}
}
