.markguide-logo {
	margin: 0 auto;
	background-color: var(--color, #000);
	background-size: 400% 400%;
	mask-image: var(--svg-image);
	mask-position: 50%;
	mask-repeat: no-repeat;
	mask-size: contain;
	min-height: var(--height);
	font-size: 0;
	text-indent: -1000px;
}
