.b-markguide-search {
	position: relative;

	$filter-icon-size: 16px;
	$clear-icon-size: 16px;
	$icon-indent: 8px;

	&__input {
		@include font(12px, 400, 34px);

		background: transparent;
		border: 1px solid var(--color-mg-search-input__border);
		border-radius: 6px;
		box-sizing: border-box;
		height: 34px;
		outline: none;
		padding: 0 10px;
		text-indent: $filter-icon-size + 2px;
		width: 100%;

		&:focus {
			background-color: var(--color-mg-search-input__background--focus);
		}

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			display: none;
		}

		&::-ms-clear {
			display: none;
		}

		&::placeholder {
			color: var(--color-mg-search-input__color--placeholder);
		}
	}

	&__icon {
		color: var(--color-mg-search-icon__color);
		height: $filter-icon-size;
		left: $icon-indent;
		position: absolute;
		top: 50%;
		margin-top: -8px;
		width: $filter-icon-size;

		.js-found & {
			color: var(--color-mg-search-icon-found__color);
		}
	}

	&__clear {
		background-color: transparent;
		border: none;
		color: var(--color-mg-search-clear__color);
		cursor: pointer;
		height: $clear-icon-size;
		line-height: $clear-icon-size;
		margin-top: -8px;
		opacity: 0;
		outline: none;
		padding: 0;
		position: absolute;
		right: $icon-indent;
		top: 50%;
		width: $clear-icon-size;

		svg {
			display: block;
			color: var(--color-mg-search-icon-clear__color);
		}

		&:hover {
			svg {
				color: var(--color-mg-search-icon-clear__color--hover);
			}
		}

		&:focus {
			svg {
				color: var(--color-mg-search-icon-clear__color--focus);
			}
		}

		&:active {
			svg {
				color: var(--color-mg-search-icon-clear__color--active);
			}
		}

		.js-found & {
			opacity: 1;
		}
	}
}
