.b-markguide-nav {
	font-family: $font-sans-markguide;
	font-size: $markguide-scale-secondary;
	list-style: none;
	padding-bottom: $space-md-markguide;

	&__item {
		display: block;
		position: relative;

		&_index + &_index {
			//display: none;
			border: 1px solid red;
		}
	}

	&__item-line {
		display: flex;
		align-items: center;

		&._category {

		}

		&.js-collapsed._category {

		}

		&._empty {
			opacity: 0.6;
			font-style: italic;
		}

		svg {
			margin-right: 5px;
		}

		&.js-current-page {
			background-color: $markguide-aside-selected;
			color: black;
			cursor: default;
			pointer-events: none;
		}

		svg {
			height: 16px;
			min-width: 16px;
			pointer-events: none;
			vertical-align: text-bottom;
			width: 16px;
		}
	}

	&__indent {
		width: 25px;
	}

	&__text {
		all: initial;
		color: inherit;
		cursor: pointer;
		font-family: $font-sans-markguide;
		font-size: $markguide-scale-secondary;
		overflow: hidden;
		padding: 5px 0;
		position: relative;
		text-decoration: none;
		text-overflow: ellipsis;
		transition: opacity ease 0.2s;
		user-select: none;
		white-space: nowrap;
		pointer-events: none;

		&:hover,
		&:focus {
			color: black;
			text-decoration: none;
		}

		&:active {
			color: $color-blue-markguide;
		}
	}

	/* stylelint-disable */
	// TODO: Recursive nesting level structure - refactor me later
	> .b-markguide-nav__item {
		> .b-markguide-nav__item-line {
			background: $markguide-aside-bg;
			//padding: $space-sm-markguide 0 $space-sm-markguide $space-md-markguide;
			position: sticky;
			top: 0;
			z-index: 1;

			&::after {
				background: lightgrey;
				bottom: 0;
				content: "";
				height: 1px;
				position: absolute;
			}
		}
	}
	/* stylelint-enable */

	.b-markguide-nav__item-line._category.js-collapsed {
		+ .b-markguide-nav__sub-nav {
			/* stylelint-disable-line */
			display: none;
		}
	}
}

.js-searching {
	.b-markguide-nav__item-line {
		color: lighten($markguide-color-text, 40%);
		cursor: default;
		pointer-events: none;

		&._category {
			svg {
				color: lighten($markguide-color-text, 40%);
			}
		}

	}
}


.js-found {
	.b-markguide-nav__item-line {
		color: lighten($markguide-color-text, 40%);
		cursor: default;
		display: none;
		pointer-events: none;
	}

	.b-markguide-nav__item-line.js-relevant {
		color: $markguide-color-text;
		cursor: pointer;
		display: block;
		pointer-events: initial;


		&:hover,
		&:focus {
			color: black;
		}

		&:active {
			color: $color-blue-markguide;
		}
	}

	.b-markguide-nav__sub-nav,
	.b-markguide-nav__item-line._category {
		display: block !important; /* stylelint-disable-line */
	}
}
