.b-markguide-markup {
	margin: 10px 0 20px;
	outline: none !important;
	position: relative;
	border: 1px solid var(--color-mg-markup__border);

	&__summary {
		@include font(14px);

		// border: 1px solid var(--color-mg-markup__border);
		cursor: pointer;
		display: list-item;
		outline: revert !important;
		padding: 10px;
		user-select: none;

		&:focus {
			outline: none !important;
		}
	}

	&[open] .b-markguide-markup__summary {
		//border: 1px solid var(--color-mg-markup__border);
	}

	pre {
		margin: 0;
		border-radius: 0;
	}

	code {
		border-radius: 0;
	}

	&:focus {
		outline: none !important;
	}

	&__copy-button {
		align-items: center;
		border-radius: 3px;
		border: 1px solid var(--color-mg-options-bar-button__border);
		color: var(--color-mg-options-bar-button__color);
		cursor: pointer;
		display: flex;
		height: 24px;
		justify-content: center;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 15px;
		top: 8px;
		width: 24px;

		&:focus {
			outline: none !important;
		}

		&:hover {
			border-color: var(--color-mg-options-bar-button__border--hover);
			background-color: var(--color-mg-options-bar-button__background--hover);
			color: var(--color-mg-options-bar-button__color--hover);
		}
	}

	&__copy-message {
		@include font(14px);

		right: 54px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: 11px;
		transition-property: opacity, visibility;
		transition: ease 0.6s;
		z-index: 10;
	}
}
