.b-markguide-footer-copyright {
	@include font($size: 10px);

	color: $markguide-color-text;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: $space-sm-markguide;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
