@use "mixins" as *;

.b-markguide-footer-copyright {
	@include font($size: 10px);

	color: var(--color-mg-footer-copyright__color);
	display: block;
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
