.b-markguide-toc {
	@include font(14px, 400);

	padding-top: 30px;

	&__info {
		@include font(14px, 400);

		display: flex;
		flex-flow: column nowrap;
		gap: 10px;
		margin-bottom: 30px;
		padding: 10px;
	}

	&__path {
	}

	&__date {
	}

	&__item {
		display: block;
		padding: 3px 0;
	}

	&__ln {
		display: block;
		text-decoration: underline;
		text-overflow: ellipsis;

		&:hover,
		&:focus {
		}

		&:active {
		}

		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}
	}
}
