.b-markguide-overline {
	@include font(16px);

	display: flex;
	gap: 10px;
	align-items: center;
	text-transform: capitalize;
	margin-bottom: 15px;

	svg {
		height: 24px;
		width: 24px;
	}

	span {
		line-height: 1;
	}
}
