.b-markguide-copier {
	cursor: pointer;
	position: relative;

	&__message {
		@include font($size: 10px);

		background-color: var(--color-markguide-copier-background);
		border-radius: 5px;
		color: var(--color-markguide-copier-color);
		left: 50%;
		min-width: 20px;
		padding: 20px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		transition-property: opacity, visibility;
		transition: ease 0.6s;
		z-index: 10;
	}

	&__text {
		appearance: none;
		background-color: transparent;
		border: none;
		color: inherit;
		text-align: inherit;

		&:focus {
			outline: none;
		}
	}

	&:hover &__text {
		color: var(--color-markguide-copier-color-hover);
	}
}
