.b-markguide-options-bar {
	display: flex;
	flex-direction: row;
	gap: 10px;

	&__top,
	&__fullscreen,
	&__theme {
		cursor: pointer;
		width: 24px;
		height: 24px;
		border: 1px solid var(--color-mg-options-bar-button__border);
		border-radius: 3px;
		color: var(--color-mg-options-bar-button__color);

		&:focus {
			outline: none !important;
		}

		&:hover {
			border-color: var(--color-mg-options-bar-button__border--hover);
			background-color: var(--color-mg-options-bar-button__background--hover);
			color: var(--color-mg-options-bar-button__color--hover);
		}
	}

	&__fullscreen-full {
			display: block;
	}

	&__fullscreen-normal {
		display: none;
	}

	&__theme-light {
		display: none;
	}
}

.js-aside-panel-hidden {
	.b-markguide-options-bar {
		&__fullscreen-full {
			display: none;
		}

		&__fullscreen-normal {
			display: block;
		}
	}
}

@include color-mode(dark) {
	.b-markguide-options-bar__theme-light {
		display: block;
	}

	.b-markguide-options-bar__theme-dark {
		display: none;
	}
}
