// Needs refactoring
.markdown-body {
	// Tables
	table {
		display: block;
		width: 100%; // keep for backwards compatibility
		width: max-content;
		max-width: 100%;
		overflow: auto;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: var(--color-markguide-border);

		th {
			font-weight: $font-weight-bold;
		}

		th,
		td {
			padding: 6px 13px;
			border: $border-width $border-style var(--color-markguide-border);
		}

		tr {
			background-color: var(--color-markguide-markdown-table-row-bg);

			&:nth-child(2n) {
				background-color: var(--color-markguide-markdown-table-even-row-bg);
			}
		}

		img {
			background-color: transparent;
		}
	}
}
