.markdown-body {
	@include font(16px, 400, 1.5);

	--focus-outlineColor: #0969da;
	--fgColor-default: #1f2328;
	--fgColor-muted: #636c76;
	--fgColor-accent: #0969da;


	--bgColor-default: #ffffff;
	--bgColor-muted: #f6f8fa;
	--bgColor-neutral-muted: #afb8c133;
	--bgColor-attention-muted: #fff8c5;

	--borderColor-default: #d0d7de;
	--borderColor-muted: #d0d7deb3;
	--borderColor-neutral-muted: #afb8c133;


	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	color: var(--fgColor-default);
	word-wrap: break-word;
	scroll-behavior: auto;

	[hidden] {
		display: none !important;
	}

	@include clearfix();

	hr {
		box-sizing: content-box;
		overflow: hidden;
		background: transparent;
		border-bottom: 1px solid var(--borderColor-muted);
		height: 0.25em;
		padding: 0;
		margin: 24px 0;
		background-color: var(--borderColor-default);
		border: 0;

		@include clearfix();
	}
}

@import "components/typography";
@import "components/headings";
@import "components/tables";
@import "components/links";
@import "components/lists";
@import "components/code";
@import "components/images";
@import "components/elements";

.markdown-body > *:first-child > .heading-element:first-child {
	margin-top: 0 !important;
}
