@use "mixins" as *;
@use "components/typography";
@use "components/headings";
@use "components/tables";
@use "components/links";
@use "components/lists";
@use "components/code";
@use "components/images";
@use "components/elements";

.markdown-body {
	@include font(16px, 400, 1.5);

	margin: 0;
	scroll-behavior: auto;
	text-size-adjust: 100%;
	word-wrap: break-word;

	[hidden] {
		display: none !important;
	}

	@include clearfix;

	hr {
		box-sizing: content-box;
		overflow: hidden;
		background: transparent;
		border-bottom: 1px solid var(--color-markdown-hr__border);
		height: 0.25em;
		padding: 0;
		margin: 24px 0;
		background-color: var(--color-markdown-hr__background);
		border: 0;

		@include clearfix;
	}
}



.markdown-body > *:first-child > .heading-element:first-child {
	margin-top: 0 !important;
}
