.markdown-body {
	@include font(16px, 400, 1.5);

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	word-wrap: break-word;
	scroll-behavior: auto;

	[hidden] {
		display: none !important;
	}

	@include clearfix();

	hr {
		box-sizing: content-box;
		overflow: hidden;
		background: transparent;
		border-bottom: 1px solid var(--color-markdown-hr__border);
		height: 0.25em;
		padding: 0;
		margin: 24px 0;
		background-color: var(--color-markdown-hr__background);
		border: 0;

		@include clearfix();
	}
}

@import "components/typography";
@import "components/headings";
@import "components/tables";
@import "components/links";
@import "components/lists";
@import "components/code";
@import "components/images";
@import "components/elements";

.markdown-body > *:first-child > .heading-element:first-child {
	margin-top: 0 !important;
}
