@use "sass:math";

.markguide-component-aside {
	all: initial;
	background: linear-gradient(to top, rgba(black, 0), rgba(black, 0.1))
		no-repeat;
	background-size: 1px 100%;
	color: $markguide-color-text;
	float: right;
	font-family: $font-sans-markguide;
	font-size: $markguide-scale-secondary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: $space-md-markguide;
	padding-left: $space-md-markguide;
	position: relative;
	width: 250px;
	z-index: 1;

	&__section {
		margin: $space-md-markguide 0;
	}

	&__title {
		font-weight: bold;
		margin-bottom: math.div($space-sm-markguide, 2);
	}

	&__list {
	}

	&__list-item {
		font-family: $font-mono-markguide;
		font-size: $markguide-scale-mono-small;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		svg {
			color: $color-blue-markguide;
			position: relative;
			top: 2px;
			vertical-align: text-bottom;
		}
	}

	&__pre {
	}
}
