@use "sass:math";

.markguide-info-list {
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	list-style: none;
	margin: 0 0 $space-md-markguide;
	padding: 0;
	text-transform: capitalize;
	width: 100%;

	&__item {
		margin: 0 0 $space-md-markguide;
		width: math.div(100%, 3);
	}

	&__total {
		color: $color-blue-markguide;
		font-size: 32px;
		font-weight: normal;
		padding-right: math.div($space-sm-markguide, 2);
	}

	&__name {
		padding-right: $space-sm-markguide;
	}
}
