<div class="markdown-heading">
    <h1 class="heading-element">
        {{page.title}}
    </h1>

    <a id="h1-{{page.id}}" class="anchor" href="#h1-{{page.id}}">
        <svg class="octicon" width="16" height="16" role="img" aria-hidden="true">
            <use href="#link-16"></use>
        </svg>
    </a>
</div>

<div class="plugin-body">
    <div class="b-markguide-colors">
        {{#colors}}
        <div class="b-markguide-colors__item">
            <div class="b-markguide-color">
                <div class="b-markguide-color__figure">
                    <span class="b-markguide-color__figure-color" style="background:{{value}}"></span>
                </div>
                <div class="b-markguide-color__caption">
                    <strong class="b-markguide-color__name">{{name}}</strong>
                    <div class="b-markguide-color__code"></div>
                    <div class="b-markguide-color__code">{{value}}</div>
                    <span class="b-markguide-color__description"></span>
                </div>
            </div>
        </div>
        {{/colors}}
    </div>
</div>
