<div class="markdown-heading">
    <h1 class="heading-element">
        Colors
    </h1>
</div>

<div class="markguide-colors">
    {{#colors}}
    <div class="markguide-colors__item">
        <div class="markguide-color">
            <div class="markguide-color__figure">
                <span class="markguide-color__figure-color" style="background:{{value}}"></span>
            </div>
            <div class="markguide-color__caption">
                <strong class="markguide-color__name">{{name}}</strong>
                <div class="markguide-color__code"></div>
                <div class="markguide-color__code">{{value}}</div>
                <span class="markguide-color__description"></span>
            </div>
        </div>
    </div>
    {{/colors}}
</div>
