$c-white: #fff;
$c-black: #000;
$c-grey: #ccc;

$c-grey-200: #f7f7f7;
$c-grey-300: #717171;
$c-grey-500: #333;

$c-blue-200: #c0daf7;
$c-blue-400: #54aeff;
$c-blue-500: #0645ad;
$c-blue-600: #0d3880;

$temp-all: #79aea5;

$c-white: $temp-all;
$c-black: $temp-all;
$c-grey: $temp-all;

$c-grey-200: $temp-all;
$c-grey-300: $temp-all;
$c-grey-500: $temp-all;

$c-blue-200: $temp-all;
$c-blue-400: $temp-all;
$c-blue-500: $temp-all;
$c-blue-600: $temp-all;

:root {
	// Default theme
	--color-markguide-background: #{$c-grey-200};
	--color-markguide-text: #{$c-black};

	--color-markguide-copier-background: #{$c-blue-600};
	--color-markguide-copier-color: #{$c-blue-600};
	--color-markguide-copier-color-hover: #{$c-blue-600};


	// markguide-markup
	--color-markguide-markup-border: #{$c-grey};

	// markguide-color
	--color-markguide-color-background: #{$c-white};
	--color-markguide-color-name: #{$c-black};
	--color-markguide-color-code: #{$c-black};

	// markguide-icon
	--color-markguide-icon-path: #{$c-grey-500};

	--color-markguide-aside-box-shadow: #{$c-black};
	--color-markguide-aside-ctrl-background: #{$c-black};
	--color-markguide-aside-ctrl-color-hover: #{$c-black};

	--color-markguide-footer-copyright-color: #{$c-black};

	--color-markguide-html-border: #{$c-grey-300};

	// markguide-navigation
	--color-markguide-navigation-background: #{$c-grey-300};
	--color-markguide-navigation-item-line-color: #{$c-black};
	--color-markguide-navigation-icon-color: #{$c-blue-400};
	--color-markguide-navigation-icon-active-color: #{$c-blue-600};
	--color-markguide-navigation-item-current-backgound: #{$c-blue-200};
	--color-markguide-navigation-item-current-backgound-hover: #{$c-white};
	--color-markguide-navigation-item-current-color: #{$c-black};
	--color-markguide-navigation-item-empty-color: #{$c-grey-300};
	--color-markguide-navigation-indent-border: #{$c-black};
	--color-markguide-navigation-searching-item-line-color: #{$c-grey-300};
	--color-markguide-navigation-searching-icon-color: #{$c-grey-300};
	--color-markguide-navigation-found-item-line-color: #{$c-black};
	--color-markguide-navigation-relevant-item-line-color: #{$c-grey-300};

	// markguide-search
	--color-markguide-search-input-border: #{$c-grey-300};
	--color-markguide-search-input-focus-background: #{$c-grey-200};
	--color-markguide-search-icon-color: #{$c-blue-400};
	--color-markguide-search-icon-found-color: #{$c-blue-600};
	--color-markguide-search-clear-color: #{$c-blue-400};
	--color-markguide-search-icon-clear-color: #{$c-blue-400};
	--color-markguide-search-icon-clear-color-hover: #{$c-blue-400};
	--color-markguide-search-icon-clear-color-focus: #{$c-blue-400};
	--color-markguide-search-icon-clear-color-active: #{$c-blue-400};

	// markguide colors
	--color-markguide-color-border: #{$c-grey-300};
	--color-markguide-color-name-color: #{$c-black};
	--color-markguide-color-code-color: #{$c-black};

	// markdown
	--color-markdown-body-heading-border: #{$c-grey-300};
}
