$c-white: #fff;
$c-black: #000;
$c-grey: #ccc;

$c-grey-200: #f7f7f7;
$c-grey-300: #717171;
$c-grey-400: #434643;
$c-grey-500: #333;

$c-blue-100: #e2edf9;
$c-blue-200: #c0daf7;
$c-blue-400: #5a9cd8;
$c-blue-500: #3a7ac1;
$c-blue-600: #0d3880;

$temp-all: #79aea5;

// $c-white: $temp-all;
// $c-black: $temp-all;
// $c-grey: $temp-all;

// $c-grey-200: $temp-all;
// $c-grey-300: $temp-all;
// $c-grey-400: $temp-all;
// $c-grey-500: $temp-all;

// $c-blue-200: $temp-all;
// $c-blue-400: $temp-all;
// $c-blue-500: $temp-all;
// $c-blue-600: $temp-all;

/*
# Naming convention for Themes SCSS variables and CSS custom properties

Pattern: `<component-name>__<property>--<state>`

`<component-name>` refers to the name of the component or element that
the custom property is associated with.

`<property>` refers to the CSS property being defined, such as
`color`, `background`, `fill`, etc.

`<state>` term refers to the different states or conditions that a component might be in,
such as `hover`, `active`, `disabled`, `focus`, `invalid`, `error`, `placeholder` etc.

For example, if we have a button component, we might define custom properties for its text color and background color,
like this:

```scss
// CSS
'primary-button__color'
'primary-button__background'

// SCSS
$color-primary-button__color
$color-primary-button__background
```

If we want to define a variation of the button that has a different background color when it's in a hovered state,
we can add the state to the custom property name:

```scss
// CSS
'primary-button__background--hover'

// SCSS
$color-primary-button__background--hover
```
*/

:root {
	// Default theme
	--color-mg-background: #{$c-grey-200};
	--color-mg-text: #{$c-grey-400};

	--color-mg-copier-message__background: #{$c-blue-600};
	--color-mg-copier-message__color: #{$c-blue-600};
	--color-mg-copier-text__color--hover: #{$c-blue-600};

	// markguide-markup
	--color-mg-markup__border: #{$c-grey};

	// markguide-icon
	--color-mg-icon-code__background--selection: #{$c-blue-500};
	--color-mg-icon-code__background: #{$c-black};
	--color-mg-icon-code__border: #{$c-black};
	--color-mg-icon-code__color--selection: #{$c-white};
	--color-mg-icon-code__color: #{$c-white};
	--color-mg-icon-font__color: #{$c-black};
	--color-mg-icon-grid__background: #{$c-blue-400};
	--color-mg-icon-name__color: #{$c-black};
	--color-mg-icon-svg__background--hover: #{$c-blue-100};
	--color-mg-icon-svg__background: #{$c-grey-400};
	--color-mg-icon__background: #{$c-grey-200};
	--color-mg-icon__border: #{$c-grey};


	--color-mg-container-aside__box-shadow: #{$c-grey};
	--color-mg-container-main__background: #{$c-grey-200};

	--color-mg-aside-ctrl__color--hover: #{$c-black};

	--color-mg-footer-copyright__color: #{$c-black};

	--color-mg-html__border: #{$c-grey};

	// markguide-navigation
	--color-mg-navigation-item-border__background: #{$c-grey};
	--color-mg-navigation-item-line__color: #{$c-black};
	--color-mg-navigation-icon__color: #{$c-blue-400};
	--color-mg-navigation-icon__color--active: #{$c-blue-500};
	--color-mg-navigation-item-current__backgound: #{$c-blue-100};
	--color-mg-navigation-item-current__backgound--hover: #{$c-white};
	--color-mg-navigation-item-current__color: #{$c-black};
	--color-mg-navigation-item-empty__color: #{$c-grey-300};
	--color-mg-navigation-indent__border: #{$c-blue-200};
	--color-mg-navigation-searching-item-line__color: #{$c-grey-300};
	--color-mg-navigation-searching-icon__color: #{$c-grey-300};
	--color-mg-navigation-found-item-line__color: #{$c-black};
	--color-mg-navigation-relevant-item-line__color: #{$c-grey-300};
	--color-mg-navigation-relevant-item-line__color--hover: #{$c-black};
	--color-mg-navigation-relevant-item-line__color--active: #{$c-black};
	--color-mg-navigation-text__color--hover: #{$c-black};
	--color-mg-navigation-text__color--active: #{$c-black};

	// markguide-search
	--color-mg-search-input__color--placeholder: #{$c-grey-300};
	--color-mg-search-input__border: #{$c-blue-200};
	--color-mg-search-input__background--focus: #{$c-grey-200};
	--color-mg-search-icon__color: #{$c-blue-400};
	--color-mg-search-icon-found__color: #{$c-blue-600};
	--color-mg-search-clear__color: #{$c-blue-400};
	--color-mg-search-icon-clear__color: #{$c-blue-400};
	--color-mg-search-icon-clear__color--hover: #{$c-blue-400};
	--color-mg-search-icon-clear__color--focus: #{$c-blue-400};
	--color-mg-search-icon-clear__color--active: #{$c-blue-400};

	// markguide colors
	--color-mg-color__background: #{$c-white};
	--color-mg-color__border: #{$c-grey};
	--color-mg-color-name__color: #{$c-black};
	--color-mg-color-code__color: #{$c-black};

	// markdown
	--color-markdown-a__color: #{$c-blue-500};
	--color-markdown-a__outline--focus: #{$c-blue-500};
	--color-markdown-blockquote__border: #{$c-grey};
	--color-markdown-blockquote__color: #{$c-grey-400};
	--color-markdown-body-heading__border: #{$c-grey};
	--color-markdown-body__color--placeholder: #{$c-grey};
	--color-markdown-code__background: #{$c-blue-200};
	--color-markdown-hr__background: #{$c-grey};
	--color-markdown-hr__border: #{$c-grey};
	--color-markdown-img__background: #{$c-white};
	--color-markdown-input__outline--focus: #{$c-blue-500};
	--color-markdown-kbd__background: #{$c-grey};
	--color-markdown-kbd__border: #{$c-grey-400};
	--color-markdown-kbd__box-shadow: #{$c-grey-400};
	--color-markdown-kbd__color: #{$c-grey-500};
	--color-markdown-mark__background: #fff8c5;
	--color-markdown-mark__color: #{$c-grey-500};
	--color-markdown-span__border: #{$c-grey};
	--color-markdown-span__color: #{$c-grey-500};
	--color-markdown-th-td_border: #{$c-grey};
	--color-markdown-tr-2n__background: #{$c-grey-200};
	--color-markdown-tr__background: #{$c-white};
	--color-markdown-tr__border: #{$c-grey};
}
