.l-markguide-page {
	box-sizing: border-box;
	padding: 10px 40px;

	&__content {
		display: flex;
		flex-flow: row nowrap;
		gap: 20px;
		justify-content: center;
		min-height: 100vh;
		position: relative;
		width: 100%;
	}

	&__aside {
		display: none;
		padding: 10px;
	}

	&__main {
		max-width: 1400px;
		min-height: 100vh;
		width: 100%;
	}

	&__main-content {
	}
}
