.l-markguide-page {
	box-sizing: border-box;
	padding: 10px 40px;

	&__content {
		display: flex;
		flex-flow: row nowrap;
		gap: 20px;
		position: relative;
		width: 100%;
		min-height: calc(100vh - #{$space-md-markguide * 2});
	}

	&__aside {
		padding: 10px;
		order: 2;
	}

	&__main {
		padding: 10px;
		flex-shrink: 1;
		width: 100%;
	}
}
