.l-markguide-aside {
	all: initial;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;

	&__header {
		padding: 20px;
	}

	&__content {
		overflow-y: auto;
		overscroll-behavior: contain;
		//scrollbar-width: thin;

		&:focus {
			outline: none !important;
		}
	}

	&__footer {
		margin-top: auto;
		padding-top: 10px;
	}
}

// hide this elements when aside is hidden
.js-aside-panel-hidden {
	.l-markguide-aside__header,
	.l-markguide-aside__footer,
	.l-markguide-aside__content {
		display: none;
	}
}


@include color-mode(dark) {
	.l-markguide-aside {
		&__content {
			scrollbar-color: var(--color-mg-aside-scrollbar);
		}
	}
}
