<div
    class="atlas-icons_example-item"
    onclick="document.getElementById('isml').innerText='{{ismlName}}';"
    >
    <svg width="{{width}}" height="{{height}}">
        {{{paths}}}
    </svg>
    <p>
        ${{name}}<br>
        {{width}}px * {{height}}px<br>
        {{type}}
    </p>
</div>
