<div class="l-markguide-container__aside" id="js-markguide-aside" role="contentinfo">
    <script>
        const asideElement = document.getElementById('js-markguide-aside');
        asideElement.style.width = asideWidth ? `${asideWidth}px` : '';
    </script>
    <div class="l-markguide-aside">
        <div class="l-markguide-aside__header">
            {{>logo}}

            {{>search}}
        </div>
        <div class="l-markguide-aside__content" role="navigation" id="js-markguide-aside-content">
            <div class="b-markguide-navigation" role="list" id="js-markguide-navigation">
                &nbsp;
            </div>
        </div>
        <div class="l-markguide-aside__footer">
            {{> copyright}}
        </div>
    </div>

    <button class="b-markguide-aside-ctrl" id="js-markguide-aside-resizer" title="Double click to toggle aside"></button>
    <div class="b-markguide-aside-resizer-overlay" id="js-markguide-aside-resizer-overlay"></div>
</div>
