{{#nodes}}
    <div role="listitem" class="markguide-component-structure__node">
        <div class="markguide-component-structure__selector">
            <span class="markguide-component-structure__type _{{type}}" title="{{type}}"></span>
            <span class="markguide-component-structure__name">{{node}}</span><span class="markguide-component-structure__brackets">{{#isBlock}} {...}{{/isBlock}}{{^isBlock}};{{/isBlock}}</span>
        </div>
        {{#nodes.length}}
            <div role="list" class="markguide-component-structure__nodes">
                {{>componentstructure}}
            </div>
        {{/nodes.length}}
    </div>
{{/nodes}}
