    </main>
</div>

{{> assetsfooter}}

<script src="assets/js/navigation.js"></script>
<script src="assets/js/search.js" async defer></script>
<script src="assets/js/aside.js" async defer></script>
<script src="assets/js/prism.js" async></script>
<script src="assets/js/copier.js"></script>
<script src="assets/js/markguide.js"></script>
<script src="assets/js/box-model.js"></script>
<script src="assets/js/typography.js"></script>

<script src="nav.js"></script>

</body>
</html>
