<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Styleguide - {{title}}</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="assets/css/markguide.css"/>

    <style>
    {{#projectFonts}}
    {{#filename}}
        @font-face {
            font-family: '{{properties.family}}';
            font-style:  {{properties.style}};
            font-weight: {{properties.weight}};
            src: url("styles/fonts/{{filename}}") format("woff2");
        }
    {{/filename}}
    {{/projectFonts}}
    </style>

    {{#projectStyles}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}"/>
    {{/projectStyles}}

    <script>
        window.contexts = ['global'];
        window.assetsStaticURL = '/scripts/';
    </script>

    {{#projectScripts}}
    <script async="async" src="{{{.}}}" crossorigin="anonymous"></script>
    {{/projectScripts}}

    {{> assetshead}}

    <script>
        // Retrieve `asideWidth` from sessionStorage if available
        const asideWidth = window.sessionStorage ? window.sessionStorage.getItem('asideWidth') : false;

        // Set theme
        let html = document.querySelector('html');
        let theme = window.sessionStorage.getItem('markguide-theme') || 'light';
        html.removeAttribute('data-' + theme + '-theme');
        html.setAttribute('data-color-mode', theme);
        html.setAttribute('data-' + theme + '-theme', theme);
    </script>

</head>
<body class="b-markguide-page b-markguide-page_{{type}}">

<div id="js-markguide-icons"></div>
{{> icons}}

<div class="l-markguide-container" id="js-markguide-container">
    {{> aside}}
    <main role="main" class="l-markguide-container__main" id="js-markguide-main">
        <div class="l-markguide-container__sticky-bar">
            <div class="b-markguide-options-bar">
                <button class="b-markguide-options-bar__top" id="js-markguide-top" type="button" title="Back to top">
                    <svg width="16" height="16" viewBox="0 0 16 16" role="img">
                        <use href="#arrow-up-16"></use>
                    </svg>
                </button>
                <button class="b-markguide-options-bar__fullscreen" id="js-markguide-fullscreen" type="button" title="Go full screen">
                    <svg width="16" height="16" viewBox="0 0 16 16" role="img">
                        <use class="b-markguide-options-bar__fullscreen-normal" href="#screen-normal-16"></use>
                        <use class="b-markguide-options-bar__fullscreen-full" href="#screen-full-16"></use>
                    </svg>
                </button>
                <button class="b-markguide-options-bar__theme" id="js-markguide-theme" type="button" title="Toggle theme">
                    <svg width="16" height="16" viewBox="0 0 16 16" role="img">
                        <use class="b-markguide-options-bar__theme-dark" href="#moon-16"></use>
                        <use class="b-markguide-options-bar__theme-light" href="#sun-16"></use>
                    </svg>
                </button>
            </div>
        </div>
        <script>
            const mainElement = document.getElementById('js-markguide-main');
            mainElement.style.marginLeft = asideWidth ? `${asideWidth}px` : '';
        </script>
