<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Styleguide - {{title}}</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="assets/css/dev_markguide.css"/>

    <link rel="stylesheet" type="text/css" href="assets/css/prism.css"/>

    <style>
    {{#projectFonts}}
    @font-face {
        font-family: '{{properties.family}}';
        font-style:  {{properties.style}};
        font-weight: {{properties.weight}};
        src: url("styles/fonts/{{filename}}") format("woff2");
    }
    {{/projectFonts}}
    </style>

    {{#projectStyles}}
    <link rel="stylesheet" type="text/css" href="styles/{{.}}.css"/>
    {{/projectStyles}}

    <script>
        window.contexts = ["global"]
    </script>

    {{#projectScripts}}
    <script async="async" src="scripts/{{.}}.js" crossorigin="anonymous"></script>
    {{/projectScripts}}

    {{> assetshead}}
</head>
<body class="markguide-page markguide-page_{{type}}">

<div id="js-markguide-icons"></div>
{{> icons}}

<div class="l-markguide-container" id="js-markguide-container">
    {{> aside}}
    <main role="main" class="l-markguide-container__main" id="js-markguide-main">
        <script>
            document.getElementById('js-markguide-main').style.marginLeft =
                window.sessionStorage && window.sessionStorage.getItem('asideWidth') ?
                    window.sessionStorage.getItem('asideWidth') + 'px' : '';
        </script>
        <div class="markguide-content">
            <div class="markguide-content__inner">

