{{#subPages}}
    <div role="listitem" class="markguide-nav__item {{#type}}markguide-nav__item_{{type}}{{/type}}">
        <a class="markguide-nav__ln {{#type}}_{{type}}{{/type}} {{#noDocumentation}}_empty{{/noDocumentation}} js-markguide-nav-ln js-collapsed "{{#id}}href="{{id}}.html"
            id="nav-link-{{id}}"{{/id}}
            data-name="{{title}}"
         >
            {{#icon}}<svg width="16" height="16" viewBox="0 0 16 16" role="img"><use href="#{{{icon}}}"></use></svg>{{/icon}}
            <span style="pointer-events: none;">{{title}}</span>
        </a>
        {{#subPages.length}}
            <div role="list" class="markguide-nav__sub-nav">
                {{>navigation}}
            </div>
        {{/subPages.length}}
    </div>
{{/subPages}}
