{{#subPages}}
    <div role="listitem" class="b-markguide-navigation__item {{#type}}b-markguide-navigation__item_{{type}}{{/type}}">
        <a
            class="
                b-markguide-navigation__item-line
                {{#type}}_{{type}}{{/type}}
                {{#noDocumentation}}_empty{{/noDocumentation}}
                js-markguide-nav-ln
                js-collapsed
                "
            {{#id}}href="{{id}}.html"{{/id}}
            {{#id}}id="nav-link-{{id}}"{{/id}}
            data-name="{{title}}"
        >
            <span class="b-markguide-navigation__indent"></span>
            {{#depth}}
                <span class="b-markguide-navigation__indent"></span>
            {{/depth}}

            {{#icon}}
                <svg width="16" height="16" viewBox="0 0 16 16" role="img">
                    <use class="b-markguide-navigation__icon" href="#{{{icon}}}"></use>
                    {{#iconActive}}<use class="b-markguide-navigation__icon-active" href="#{{{iconActive}}}"></use>{{/iconActive}}
                </svg>
            {{/icon}}

            <span class="b-markguide-navigation__text">
                {{title}}
            </sapn>
        </a>
        {{#subPages.length}}
            <div role="list" class="b-markguide-navigation__sub-nav">
                {{>navigation}}
            </div>
        {{/subPages.length}}
    </div>
{{/subPages}}
