<div class="b-markguide-search" role="search">
    <svg class="b-markguide-search__icon" width="16" height="16" role="img"><use href="#search-16"></use></svg>
    <input class="b-markguide-search__input" type="search" id="js-markguide-search" placeholder="Filter" autocomplete="off"/>
    <button class="b-markguide-search__clear" id="js-markguide-search-clear" title="Clear input">
        <svg width="16" height="16" role="img"><use href="#x-circle-16"></use></svg>
    </button>
</div>
