<div class="b-markguide-toc">
    {{#src}}
    <!-- <div class="b-markguide-toc__info">
        <div class="b-markguide-toc__path"><strong>Path:</strong> {{src}}</div>
    </div> -->
    {{/src}}
    {{#content.toc}}
        <div class="b-markguide-toc__item" role="listitem">
            <a class="b-markguide-toc__ln b-markguide-toc__ln_{{depth}}" href="#h{{depth}}-{{escapedText}}">
                {{{text}}}
            </a>
        </div>
    {{/content.toc}}
</div>
