@use "mixins" as *;
@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "sass:string";

// Colors cae4fd 7dbcf8 4fc0f6
$color-black: #000;
$color-margin: #cae4fd;
$color-padding: #ffd2a5;
$color-outline: #dd06fd;

// Arrows
$arrow-box-width: 14px;
$arrow-box-height: 8px;

// Horizontal arrow
$horizontal-arrow-width: $arrow-box-width;
$horizontal-arrow-height: $arrow-box-height;

// Vertical arrow
$vertical-arrow-width: $arrow-box-height;
$vertical-arrow-height: $arrow-box-width;

// Icons
$svg-up: ("M-0 8l7-8 7 8", $horizontal-arrow-width, $horizontal-arrow-height);
$svg-down: ("M14 0l-7 8-7-8", $horizontal-arrow-width, $horizontal-arrow-height);
$svg-left: ("M8 14l-8-7 8-7", $vertical-arrow-width, $vertical-arrow-height);
$svg-right: ("M-0 0l8 7-8 7", $vertical-arrow-width, $vertical-arrow-height);
$svg-pattern: ("M1 2H0V0h2v1H1v1zm3-1v1H3v1H2v1H1v1h2V4h1V3h1V1H4z", 5, 5);

@function create-svg($name, $fill-color) {
	$path: list.nth($name, 1);
	$w: list.nth($name, 2);
	$h: list.nth($name, 3);
	$fill-color: string.slice(meta.inspect($fill-color), 2);
	$fill-color: "%23" + $fill-color;
	$icon: 'data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="#{$w}" height="#{$h}"%3E%3Cpath fill="#{$fill-color}" d="#{$path}"/%3E%3C/svg%3E%0A';

	@return $icon;
}

.highlight-element {
	position: absolute;
	inset: 0;

	&:hover {
		outline: 1px solid $color-outline;
		outline-offset: -1px;
	}
}

.show-box-model-parent-in {
	position: relative;
	display: block; // should be original display property
	margin: 0 auto;

	&::before {
		content: "";
		display: table;
		clear: both;
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.padding-bottom,
.padding-top,
.padding-right,
.padding-left,
.margin-bottom,
.margin-top,
.margin-right,
.margin-left {
	position: absolute;

	span {
		@include font-mono(12px, 400);

		position: absolute;
		color: #0c4b7c;
		z-index: 1000;
		padding: 4px;
		border-radius: 2px;

		&::before {
			position: absolute;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 100%;
			content: "";
		}
	}

	&:hover {
		outline: 1px solid $color-outline;
		outline-offset: -1px;
	}
}

.padding-bottom,
.padding-top,
.padding-right,
.padding-left {
	// stylelint-disable-next-line function-url-quotes
	background-image: url(create-svg($svg-pattern, $color-padding));

	span {
		background-color: $color-padding;
		color: $color-black;
	}

	.show-box-model-position-left {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-right, $color-padding));
		}
	}

	.show-box-model-position-right {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-left, $color-padding));
		}
	}

	.show-box-model-position-top {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-down, $color-padding));
		}
	}

	.show-box-model-position-bottom {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-up, $color-padding));
		}
	}
}

.margin-bottom,
.margin-top,
.margin-right,
.margin-left {
	// stylelint-disable-next-line function-url-quotes
	background-image: url(create-svg($svg-pattern, $color-margin));

	span {
		background-color: $color-margin;
		color: #000;
	}

	.show-box-model-position-left {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-right, $color-margin));
		}
	}

	.show-box-model-position-right {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-left, $color-margin));
		}
	}

	.show-box-model-position-top {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-down, $color-margin));
		}
	}

	.show-box-model-position-bottom {
		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url(create-svg($svg-up, $color-margin));
		}
	}
}

.show-box-model-position-left,
.show-box-model-position-right {
	top: 50%;

	&::before {
		width: $vertical-arrow-width;
		height: $vertical-arrow-height;
		top: calc(50% - #{math.div($vertical-arrow-height, 2)});
	}
}

.show-box-model-position-left {
	left: -10px;
	transform: translate(-100%, -50%);

	&::before {
		right: -($vertical-arrow-width - 2);
	}
}

.show-box-model-position-right {
	right: -10px;
	transform: translate(100%, -50%);

	&::before {
		left: -($vertical-arrow-width - 2);
	}
}

.show-box-model-position-top,
.show-box-model-position-bottom {
	left: 50%;

	&::before {
		width: $horizontal-arrow-width;
		height: $horizontal-arrow-height;
		left: calc(50% - #{math.div($horizontal-arrow-width, 2)});
	}
}

.show-box-model-position-top {
	top: -10px;
	transform: translate(-50%, -100%);

	&::before {
		bottom: -($horizontal-arrow-height - 2);
	}
}

.show-box-model-position-bottom {
	bottom: -10px;
	transform: translate(-50%, 100%);

	&::before {
		top: -($horizontal-arrow-height - 2);
	}
}
