{{> header}}

{{> toc}}

<div class="markguide-overline">
    <svg width="16" height="16" role="img">
        <use href="#{{icon}}"></use>
    </svg>
    {{type}}
</div>

<!-- component.mustache -->
{{#content.sections}}
    <section
        {{^block}}
            class="markdown-body"
        {{/block}}
        {{#block}}
            class="markdown-code"
        {{/block}}
    >
        {{{content}}}
    </section>
{{/content.sections}}


{{> componentstatfooter}}

{{> footer}}
