{{> header}}

{{> toc}}

{{#content.sections}}
    <section
        {{^block}}
          class="markdown-body"
        {{/block}}
    >
        {{{content}}}
    </section>
{{/content.sections}}


{{> footer}}
