{{> header}}

{{> overline }}

{{> toc}}

<!-- guide.mustache -->
{{#content.sections}}
    <section
        {{^block}}
            class="markdown-body"
        {{/block}}
        {{#block}}
            class="markdown-code"
        {{/block}}
    >
        {{{content}}}
    </section>
{{/content.sections}}


{{> footer}}
