{{> header}}

{{> overline }}

<div class="b-markguide-landing">
    <div class="b-markguide-landing__content">
        <div class="b-markguide-landing__aside">
            {{> toc}}
        </div>
        <main class="b-markguide-landing__main">
                <!-- page.mustache -->
                {{#content.sections}}
                    <section
                        {{^block}}
                            class="markdown-body"
                        {{/block}}
                        {{#block}}
                            class="markdown-code"
                        {{/block}}
                    >
                        {{{content}}}
                    </section>
                {{/content.sections}}

        </main>
    </div>
</div>

{{> footer}}
