{{> header}}

<div class="l-markguide-page">
    <div class="l-markguide-page__content">
        <div class="l-markguide-page__main">
            <div class="l-markguide-page__main-content">
                {{> overline }}
                <!-- page.mustache -->
                {{#content.sections}}
                    <section class="{{class}}">
                        {{{content}}}
                    </section>
                {{/content.sections}}
            </div>
        </div>
        <div class="l-markguide-page__aside">
            {{> toc}}
        </div>
    </div>
</div>

{{> footer}}
